@font-face {
  font-family: GlassAntiqua;
  src: url('../fonts/belleepoque/glass-antiqua/GlassAntiqua-Regular.ttf') format('ttf');
  src: url('../fonts/belleepoque/glass-antiqua/GlassAntiqua-Regular.woff') format('woff');
  /*src: url('./fonts/belleepoque/glass-antiqua/GlassAntiqua-Regular.woff2') format('woff2');*/

}
@font-face {
  font-family: Milonga;
  src: url('../fonts/belleepoque/Milonga/Milonga-Regular.ttf') format('ttf');
  src: url('../fonts/belleepoque/Milonga/Milonga-Regular.woff') format('woff');
  /*src: url('./fonts/belleepoque/Milonga/Milonga-Regular.woff2') format('woff2');*/
}

@font-face {
  font-family: Amarante;
  src: url('../fonts/belleepoque/Amarante/Amarante-Regular.ttf') format('ttf');
  src: url('../fonts/belleepoque/Amarante/Amarante-Regular.woff') format('woff');
  /*src: url('./fonts/belleepoque/Amarante/Amarante-Regular.woff2') format('woff2');*/
}
@font-face {
  font-family: BoecklinsUniverse;
  src: url('../fonts/belleepoque/boecklins-universe/Boecklins Universe.ttf') format('ttf');
  src: url('../fonts/belleepoque/boecklins-universe/BoecklinsUniverse.woff') format('woff');
  /*src: url('./fonts/belleepoque/boecklins-universe/BoecklinsUniverse.woff2') format('woff2');*/
}
@font-face {
  font-family: FloralCapsNouveau;
  src: url('../fonts/belleepoque/floralcapsnouveau/FloralCapsNouveau.ttf') format('ttf');
  src: url('../fonts/belleepoque/floralcapsnouveau/FloralCapsNouveau.woff') format('woff');
  /*src: url('./fonts/belleepoque/floralcapsnouveau/FloralCapsNouveau.woff2') format('woff2');*/
}

html{
  cursor: url("Red rose.cur"), pointer;
}

body{
  height:100vh;
  overflow: hidden;
  margin: auto;
  margin-left: 7%;
  margin-right: 7%;
  font-family: GlassAntiqua;
  font-size: 18px;
  background-image: url("../imgs/belleepoquebackgrounds/4cf39fe0f3713be1560b744ca785f8bf.jpeg");
  background-image: url("../imgs/belleepoquebackgrounds/194151.jpeg");
  background-size: 350px;
  background-repeat: repeat;
  background-attachment: fixed;
  /*padding-top: 2em;*/


}

a:hover, .btn:hover, .carousel-control-prev:hover, .carousel-control-next:hover{
  cursor: url("pink rose.cur"), pointer;
}

.container{
  width: 100%;
  background-color:#FEF3CE;
  padding: 2em;
  margin: auto;
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
  padding-bottom:2em;
}

h1,h2,h3,h4{
  font-family: BoecklinsUniverse;
  text-transform: uppercase;
  color: #8B0000;
  text-align: left;

}
h1 {
  font-size:28px;
	border:2px solid;
	padding:10px;
	border-bottom-right-radius:2em;
}
h2{
  font-size: 22px;
}
h3 {
  font-size:18px;

}
h5{
  font-family: BoecklinsUniverse;
  text-transform: uppercase;
  color: #8B0000;
  font-size:15px;
  text-align: left;

}

.article{
  overflow-y:scroll;
  overflow-x: hidden;
  text-align:justify;
  height:80vh;
  margin: auto;
  padding:1em;
}

#article2,#article3{
  border-left: thin solid #8B0000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/*.article {
  border-right-color: brown;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-last: none;
}*/

p::first-letter{
  float:left;
  font-size:200%;
  color: black;
    font-family: FloralCapsNouveau;
    font-weight:normal;
    line-height: 0.75;
}

img{
  max-width: 300px;
}

.navbar{
  padding-left: 5%;
  padding-right: 4%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: BoecklinsUniverse;
  color: white;
  text-transform: uppercase;
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
  border-bottom: 8px solid #8B0000;
  border-radius: 5px;


}

.nav-item, .dropdown-item, .dropdown-menu{
  background-image: url('../imgs/belleepoquebackgrounds/—Pngtree—vector gold frame_5054258.png');
  background-size: cover;
  background-color: #8B0000;
  color: white;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus, .dropdown-menu:hover, .dropdown-menu:focus{
background-image: url('../imgs/belleepoquebackgrounds/—Pngtree—vector gold frame_5054258.png');
background-size: cover;
background-color: #8B0000;
color: #DCBA00;

  }
.btn{
  color: white;
}
.btn:hover, .btn:focus{
  color: #DCBA00;
}


.images{
  padding: 10px;
  padding-left: 5px;
  filter: grayscale(85%);
}


.table {
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 16px;
  text-align: left;
}

th{
  background-color:#C17B67;
  font-weight: 400;
}

/* metadata panel */


.container1 {
  display: fixed;
}

.panel-heading, .panel-body {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.panel-body {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  overflow-y:scroll;
  overflow-x:hidden;
  height:50vh;
}

/* first article */

.head-sectionsArt1 {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.body-sectionsArt1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.headArt1-1 {
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px #c3c3c3;
}

.bodyArt1-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.subHeadArt1-1 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px;
}

.subBodyArt1-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt1-2 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px
}

.subBodyArt1-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subSubHeadArt1-1 {
  padding: 3px;
  color: black;
  font-size: 12px;
  border: solid 1px #c3c3c3;

}

.subSubBodyArt1-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 10px;
}


.subHeadArt1-3 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt1-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}


.subHeadArt1-4 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  border: solid 1px black;
}

.subBodyArt1-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt1-5 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  border: solid 1px black;
}

.subBodyArt1-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt1-6 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  border: solid 1px black;
}

.subBodyArt1-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt1-7 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  border: solid 1px black;
}

.subBodyArt1-7 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt1-8 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  border: solid 1px black;
}

.subBodyArt1-8 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt1-9 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
  border: solid 1px black;
}

.subBodyArt1-9 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}


.headArt1-2 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}

.bodyArt1-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-3 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}

.bodyArt1-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-4 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}

.bodyArt1-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-5 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}

.bodyArt1-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-6 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt1-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

/* end first article */
/* second article */

.head-sectionsArt2 {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.body-sectionsArt2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.headArt2-1 {
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px #c3c3c3;
}

.bodyArt2-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.subHeadArt2-1 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px;
}

.subBodyArt2-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt2-2 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px
}

.subBodyArt2-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subSubHeadArt2-1 {
  padding: 3px;
  color: black;
  font-size: 12px;
  border: solid 1px #c3c3c3;

}

.subSubBodyArt2-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 10px;
}


.subHeadArt2-3 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;

}

.subBodyArt2-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt2-4 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt2-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt2-5 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt2-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt2-6 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt2-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt2-7 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt2-7 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt2-8 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt2-8 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt2-9 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt2-9 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}


.headArt2-2 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt2-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt2-3 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt2-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}


.headArt2-4 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt2-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt2-5 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt2-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt2-6 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt2-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}
/* end second article */
/* third article */

.head-sectionsArt3 {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.body-sectionsArt3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.headArt3-1 {
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px #c3c3c3;
}

.bodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.subHeadArt3-1 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px;
}

.subBodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt3-2 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px
}

.subBodyArt3-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subSubHeadArt3-1 {
  padding: 3px;
  color: black;
  font-size: 12px;
  border: solid 1px #c3c3c3;

}

.subSubBodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 10px;
}


.subHeadArt3-3 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt3-4 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt3-5 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt3-6 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt3-7 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-7 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt3-8 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-8 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.subHeadArt3-9 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt3-9 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.headArt3-2 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt3-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt3-3 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt3-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}


.headArt3-4 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt3-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt3-5 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt3-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt3-6 {
  padding: 3px;
  text-align: center;
  border: solid 1px #c3c3c3;
}
.bodyArt3-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}
/* end third article */
/* end metadata panel */
