@font-face {
  font-family: GlassAntiqua;
  src: url('../fonts/belleepoque/glass-antiqua/GlassAntiqua-Regular.ttf') format('ttf');
  src: url('../fonts/belleepoque/glass-antiqua/GlassAntiqua-Regular.woff') format('woff');
}

@font-face {
  font-family: BoecklinsUniverse;
  src: url('../fonts/belleepoque/boecklins-universe/Boecklins Universe.ttf') format('ttf');
  src: url('../fonts/belleepoque/boecklins-universe/BoecklinsUniverse.woff') format('woff');
}
@font-face {
  font-family: Kramer;
  src: url('../fonts/belleepoque/kramer/Kramer.ttf') format('ttf');
  src: url('../fonts/belleepoque/kramer/transfonter.org-20211216-095336/Kramer-Regular.woff') format('woff');
  src: url('../fonts/belleepoque/kramer/transfonter.org-20211216-095336/Kramer-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Armoire;
  src: url('../fonts/belleepoque/armoire-1.0-book-TRIAL.otf') format('otf');
  src: url('../fonts/belleepoque/transfonter.org-20211216-094352/Armoire10TRIAL-Book.ttf') format('ttf');
  src: url('../fonts/belleepoque/transfonter.org-20211216-094352/Armoire10TRIAL-Book.woff') format('woff');
}
html{
  cursor: url("Red rose.cur"), pointer;
}

body{
  height:100vh;
  overflow: hidden;
  margin: auto;
  font-family: "GlassAntiqua";
  font-size: 18px;
  background-image: url("../imgs/belleepoquebackgrounds/194151.jpeg");
  background-size: 350px;
  background-repeat: repeat;
  background-attachment: fixed;
  word-wrap: break-word;
  line-height: 20px;
  letter-spacing: 0px;
  margin-left: 7%;
  margin-right: 7%;
}

a:hover, .btn:hover, .carousel-control-prev:hover, .carousel-control-next:hover{
  cursor: url("pink rose.cur"), pointer;
}

.container{
  width: 100%;
  background-color:#FEF3CE;
  padding: 2em;
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
  padding-bottom:2em;
  max-width: 2000px;
}

h1,h2,h3,h4{
  font-family: "BoecklinsUniverse";
  color: #8B0000;
  text-align: left;
}
h1 {
  font-size:28px;
	border:2px solid;
	padding:10px;
	border-bottom-right-radius:2em;
}
h2{
  font-size: 22px;
}
h3 {
  font-size:18px;
}
h5, h6{
  font-family: "BoecklinsUniverse";
  text-transform: uppercase;
  color: #8B0000;
  font-size:15px;
  text-align: left;

}

.article{
  overflow-y:scroll;
  overflow-x: hidden;
  text-align:justify;
  height:80vh;
  margin: auto;
  padding: 1em;
}

#article2,#article3{
  border-left: double #8B0000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

p::first-letter{
  float:left;
  font-size:350%;
  color: black;
  font-family: "Kramer";
  font-weight: lighter;
  line-height: 0.85;
  padding: 1px;
  color: #8B0000;
}
i{
  font-style: normal;
}
img{
  max-width: 300px;
}


.navbar{
  padding-left: 5%;
  padding-right: 4%;
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: "BoecklinsUniverse";
  color: white;
  text-transform: uppercase;
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
  border-bottom: 8px solid #8B0000;
  border-radius: 5px;
  height:10vh;
}

.nav-item, #disclaimer, #TDM, #issuesnav{
  background-image: url('../imgs/belleepoquebackgrounds/—Pngtree—vector gold frame_5054258.png');
  background-size: cover;
  background-color: #8B0000;
  color: white;
  border: solid 2px #DCBA00;
}
#disclaimer:hover, #disclaimer:focus{
color: #DCBA00;
}
#disclaimer{
  border: solid 1px #DCBA00;
}
.dropdown-item:hover, .dropdown-item:focus, .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus, #TDM:focus, #issuesnav:focus, #TDM:hover, #issuesnav:hover{
background-image: url('../imgs/belleepoquebackgrounds/—Pngtree—vector gold frame_5054258.png');
background-size: cover;
background-color: #8B0000;
color: #DCBA00;
  }
.btn{
  color: white;
}
.btn:hover, .btn:focus{
  color: #DCBA00;
}
.nav-item{
  margin-right: 5px;
  margin-left: 5px;
}

.dropdown{
  padding-right: 5px;
}
.dropdown-menu, .dropdown-item{
  background-color: #8B0000;
  color: white;
  padding-top: 0.5em;
}

.collapse{
  /*background-image: url('../imgs/belleepoquebackgrounds/15cb3162e2a6860fea840c8ccb442fb0.jpeg');*/
  background-size: 300px;
  background-position: center;
  background-repeat: repeat;
}
.images, .images_hist{
  padding: 15px;
  filter: grayscale(85%);
  border: black double;
  margin-bottom: 5%;
}
figcaption{
  border-top: black double;
  border-bottom: black double;
}

.table {
  padding-bottom: 5px;
  padding-right: 5px;
  font-size: 16px;
  text-align: left;
}

th{
  background-color:#C17B67;
  font-weight: 400;
}
.panel-heading{
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
  border-top: double #8B0000;
  border-bottom: double #8B0000;
  border-left: none;
  border-right: none;
  font-family: "Armoire";
  text-transform: uppercase;
}
.panel-body{
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
  border: transparent;
  border: double #8B0000;
  border-right: none;
  border-top: none;

}
.header{
  padding-top: 1rem;
}

.headArt1-1, .headArt1-2, .headArt1-3, .headArt1-4, .headArt1-5, .headArt1-6, .headArt1-7, .headArt1-8, .headArt1-9, .headArt1-10,
.headArt2-1, .headArt2-2, .headArt2-3, .headArt2-4, .headArt2-5, .headArt2-6, .headArt2-7, .headArt2-8, .headArt2-9, .headArt2-10,
.headArt3-1, .headArt3-2, .headArt3-3, .headArt3-4, .headArt3-5, .headArt3-6, .headArt3-7, .headArt3-8, .headArt3-9, .headArt3-10, .head-sectionsArt1, .head-sectionsArt2, .head-sectionsArt3{
  border: none;
}
.head-sectionsArt1, .head-sectionsArt2, .head-sectionsArt3{
  background-image: url("../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg");
}
.metadata h1{
  background-image: url('../imgs/belleepoquebackgrounds/pngkit_belle-png_1957755-removebg-preview.png');
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: center;

}
.metadata h1{
  border: none;
}
#scrollUp{
  background-image: url('../imgs/belleepoquebackgrounds/png-clipart-eight-assorted-logos-collage-ornament-art-nouveau-art-deco-miscellaneous-heart-thumbnail.png');
  height: 30px;
  width: 50px;
  color: transparent;
  background-color: transparent;
  background-size: cover;
  transform: rotate(180deg);
}
#scrollUp:hover, #scrollUp:focus{
  background-color: #DCBA00;
}
/*disclaimer*/
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  filter: brightness(105%); -webkit-filter: brightness(105%);
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all .2s ease-in-out;
}


.close:hover,
.close:focus {
  transform: scale(1.2);
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  padding: 2px 16px;
  background-color: #8B0000;
  color: white;
}
.modal-header h2{
  font-size: 22px;
  color:white;
  border: none;
  background-color: inherit;
  font-family: "BoecklinsUniverse";
}
.modal-body{
  background-image: url('../imgs/belleepoquebackgrounds/7f631d3c8110b16c90295f98e5a3476d.jpeg');
}
.modal-body p{
  color: black;
  padding: 10px;
  font-size: 16px;
  font-family: "GlassAntiqua";
  text-align: justify;
  border: double 5px #8B0000;
  border-radius: 10px 10px 0px 0px;
  line-height: 20px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #56BECE;
  color: white;
}
button{
  border: none;
  background-color: inherit;
}

#wikipedia {
  background-color: transparent;
  background-image: url("../imgs/wcircle.svg");
  border:none;
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}
#source {
  background-color: transparent;
  background-image: url("../imgs/iconlens.svg");
  border:none;
  margin-left: 3px;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}
a{
  color: black;
}
