/* fonts */

@font-face {
    font-family: 'P22 Pop Art Comic';
    src: url('../fonts/popart/P22 Pop Art Comic Regular.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'P22 Pop Art Comic Bold Italic';
    src: url('../fonts/popart/P22 Pop Art Comic Bold Italic.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComicBoldItalic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComicBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/popart/BADABB_.ttf') format('ttf'),
    url('../fonts/popart/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/popart/BadaBoomBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* end fonts */
/* body and navbar */
body {
  height: 100vh;
  overflow: hidden;
  margin: auto;
  margin-left: 5%;
  margin-right:5%;
  background-image: url('../imgs/popartbackgrounds/navbar.png');
  background-size: contain;
  font-family: 'P22 Pop Art Comic';
}
.navbar{
  padding-left: 0px;
  padding-right:0px;
  padding-top: 1em;
  font-family: 'BadaBoom BB';
  background-image: url('../imgs/popartbackgrounds/navbar.png');
  background-size: cover;
  height:10vh;
}
#TDM {
color: black;
background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../imgs/popartbackgrounds/pop0.png');
background-size: cover;
border: none;
}
#issuesnav, #disclaimer {
  color: black;
  border: none;
background-image: url('../imgs/popartbackgrounds/navbar.png');
background-size: cover;
font-family: 'Badaboom BB';
}
.nav-item {
  margin-right: 1em;
}
.dropdown {
  padding-right: 1em;
}
button[name="medieval"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}
button[name="belleepoque"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}
button[name="bauhaus"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}
button[name="popart"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}
button[name="cioe"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}
button[name="futuristic"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}
/* end body and navbar */
/* carousel settings */
 .item_heading {
   	font-family: 'BadaBoom BB';
    color: transparent;
    font-size: 200px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: transparent;
    transform: rotate(-5deg);
 }
.carousel {
  height:90vh;
}
.carousel-item {
  height: 90vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'P22 Pop Art Comic';
  text-align: right;
}

#thedailymeal {
 background: linear-gradient(rgba(236,236,236,.5), rgba(236,236,236,.5)),url('../imgs/popartbackgrounds/colors.jpg');
  background-size: contain;
}
#issues {
  background-image: url('../imgs/popartbackgrounds/issues.jpg');
}
#documentation {
  background: linear-gradient(rgba(236,236,236,.5), rgba(236,236,236,.5)),url('../imgs/popartbackgrounds/colors.jpg');
  background-size: contain;
}
#doc {
  padding: 1em;
  border-radius: 10px;
}
#team {
  background: linear-gradient(rgba(236,236,236,.5), rgba(236,236,236,.5)),url('../imgs/popartbackgrounds/colors.jpg');
  background-size: contain;
}
.carousel-caption {
  color: black;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:center;
  height:75vh;
  margin:auto;
  padding: 0px;
}
#issuesalign {
  text-align: right;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.carousel-caption h1 {
  font-size: 60px;
}
.carousel-caption h2 {
  font-size: 25px;
  font-family: "BadaBoom BB";
  color: black;
}
.carousel-caption h3, h4 {
  font-size: 25px;
  font-family: "P22 Pop Art Comic Bold Italic";
  color: black;
  background-color: #f2e81c;
  padding: 3px;
  border: 3px solid black;
  display: inline-block;
}
.carousel-caption p {
  font-size: 15px;
  text-align: center;
  color: black;
  background-color: white;
  border: 3px solid black;
  border-radius: 25px 30px 40px 20px;
  padding: 1em;
  display: inline-block;
}
/* carousel internal settings */
.tab-pane p {
padding: 1em;
}

a {
  color: black;
  font-family: "P22 Pop Art Comic Bold Italic";
}

a:hover {
  color: #d98fc5;
}

figcaption {
  background-color: #f2e81c;
  padding: 5px;
  margin: 10px;
  border: 3px solid black;
  display: inline-block;
}

#maintitle {
  font-size: 100px;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
}

#teamheading {
  font-family: 'BadaBoom BB';
  font-size: 70px;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  color: black;
}

.documentation {
font-family: 'BadaBoom BB';
 color: black;
 font-size: 70px;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: white;
 transform: rotate(-5deg);
 text-align: center;
}
/* end carousel internal settings */
/* buttons slider  */
.slider-btn {
  margin-top: 30px;
}
.slider-btn .btn {
 color: #df0107;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: black;
 transform: rotate(-5deg);
 font-family: 'BadaBoom BB';
 font-size: 30px;
}
.slider-btn .btn-1 {
  padding: 2em 2em;
  background-image: url('../imgs/popartbackgrounds/blue.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider-btn .btn-2 {
  padding: 2em 2em;
  background-image: url('../imgs/popartbackgrounds/blue.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.slider-btn .btn-3 {
  padding: 2em 2em;
  background-image: url('../imgs/popartbackgrounds/blue.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
/* buttons slider */
/* disclaimer */

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header{
  padding: 2px 16px;
  background-image: url('../imgs/popartbackgrounds/navbar.png');
  color: black;
  text-align: left;
}
.modal-body p{
  color: black;
  padding: 10px;
  font-size: 16px;
  font-family: 'P22 Pop Art Comic';
  text-align: justify;
}
/* disclaimer */
/* buttons tab pane */
.nav-tabs{
  border:none;
}
#nav-1480-tab, #nav-1880-tab, #nav-1920-tab, #nav-1960-tab, #nav-1990-tab, #nav-2030-tab {
  color: black;
  font-family: "BadaBoom BB";
  border: 3px solid black;
  border-radius:  70px 70px 70px 80px;
  background-image: url('../imgs/popartbackgrounds/navbar.png');
}
.nav-tab {
  margin-bottom: 10px;
}
#nav-tab {
  justify-content: center;
}
.nav-link:hover, .nav-link:focus  {
  color: black;
  background-color: #df0107;
}
.tab-pane {
  margin-top: 1em;
}
/* buttons tab pane  */
/* team cards */
.card {
  border: 3px solid black;
  background-color: #008ee7;
}
.card img {
  padding: 1em;
}
.card h5 {
  font-size: 25px;
  font-family: "P22 Pop Art Comic Bold Italic";
  color: black;
  background-color: #f2e81c;
  padding: 3px;
  border: 3px solid black;
  display: inline-block;
}
.card p {
padding: 5px;
}
/* team cards */
#github {
  background-color: transparent;
  background-image: url("../imgs/github.svg");
  border:none;
  margin-left: 3px;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}
