@font-face {
  font-family: Hentimps Circlet;
  src: url('../fonts/medieval/Hentimps_Circlet.ttf');
}
@font-face {
  font-family: Goudy-initialen Regular;
  src: url('../fonts/medieval/goudy-initialen.regular.ttf');
}
@font-face {
  font-family: Mayflower Antique;
  src: url('../fonts/medieval/mayflower-antique.regular.ttf');
}
@font-face {
  font-family: Adine-Kirnberg Regular;
  src: url('../fonts/medieval/adine-kirnberg.regular.ttf');
}
body{
  font-family: Hentimps Circlet;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("FeatherQuill.cur"), pointer;
  color:#4D3D23;
  height:100vh;
}
a:hover, .btn:hover, .carousel-indicators [data-bs-target]:hover, li:hover, .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover{
  cursor: url("Feather Quill Writing.cur"), pointer;
}

.navbar{
  background-image: url("../imgs/MedievalBackgrounds/test4.jpg");
  background-repeat: repeat;
  background-size:contain;
  border: solid black;
  height:10vh;
}
.nav-item, .dropdown-toggle, .dropdown-menu{
  border: solid black;
  border-radius:5px;
  margin-left:1em;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  color:black;
}
.navbar-nav .btn{
  background-color:inherit;
}
.navbar-nav .btn:hover{
  background-color:inherit;
}
.dropdown-item:hover{
  color:white;
  background-color:inherit;
}
.carousel{
  height: 90vh;
}

.carousel-item {
  background-color:transparent;
  height: 90vh;
}
.carousel-item::before {
  opacity:0.2;
}
.carousel .carousel-control-prev-icon {
  background-image: url("../imgs/MedievalBackgrounds/pointing_hand.svg");
  width:200%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.carousel .carousel-control-next-icon {
  background-image: url("../imgs/MedievalBackgrounds/pointing_hand.svg");
  width:200%;
}
.carousel-caption {
  text-align:center;
  color:#4D3D23;
  bottom:auto;
  height:80vh;
}
.carousel-indicators [data-bs-target]{
  background-image: url("../imgs/MedievalBackgrounds/Flourishly-Frame-2.svg");
  height:20px;
  width:40px;
  background-size:contain;
  background-color: transparent;
}
.border-medieval{
  background-image: url("../imgs/MedievalBackgrounds/test2.jpg");
  background-size:cover;
  height:80vh;
  border:solid black;
}
h1{
  font-size: 400%;
}
.row{
  margin:0;
}
p::first-letter{
  font-size:200%;
  font-family: Mayflower Antique;
  color: #E13030;
  line-height: 0.6;
}
h1, h2, h3, h4{
  font-family:Mayflower Antique;
  color: #E13030;
  margin:0;
  text-transform: uppercase;
  text-align: center;
}
.slider-btn .btn{
  font-size: 1.5rem;
}
.slider-btn .btn-1::first-letter, .slider-btn .btn-2::first-letter, .slider-btn .btn-3::first-letter{
  font-family: Goudy-initialen Regular ;
  letter-spacing: -40px;
  color:transparent;
  background-image: url("../imgs/MedievalBackgrounds/H.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 10rem;
  vertical-align: -3rem;
}
.slider-btn .btn-2::first-letter{
  background-image: url("../imgs/MedievalBackgrounds/P.png");
}
.slider-btn .btn-3::first-letter{
  background-image: url("../imgs/MedievalBackgrounds/I.png");
}
#maintitle::first-letter{
  background-image: url('../imgs/MedievalBackgrounds/T.png');
  background-repeat:no-repeat;
  background-size: contain;
  color:transparent;
  font-size: 11rem;
  font-family:Hentimps Circlet;
}
#maintitle{
  padding-top:2rem;
  font-size:3rem;
}
