
.navbar{
  height:10vh;
}
.navbar-nav .btn{
  background-color: white;
  color: black;
}

.navbar-nav .btn:hover {
  background-color: yellow;
}

.carousel{
  height: 90vh;
}
.carousel-item {
  min-height:300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
  height: 90vh;
  background-color: #868B8E;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #868B8E;
  opacity: 0.7;
}

.carousel-caption {
  margin-bottom: 100px;
  padding: 100px;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:left;
  height:80vh;
  margin:auto;
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

.carousel-caption h1 {
  font-size: 30px;
}

.carousel-caption h2 {
  font-size: 20px;
}

#maintitle {
  font-size: 50px;
}

.carousel-caption p {
  font-size: 15px;
  text-align: justify;
}

.slider-btn {
  margin-top: 30px;
}

.slider-btn .btn {
  background-color: #56BECE;
  border-radius: 0;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  margin-right: 15px;
}

.slider-btn .btn-2 {
  background-color: white;

  font-size: 1rem;
}
.nav-link{
  color:inherit;
}


.tab-pane {
  margin-top: 1em;
}
/*disclaimer*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #56BECE;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #56BECE;
  color: white;
}
