@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);
@font-face{
  font-family:MontserratAlternates-Regular;
  src: url("../fonts/immerseave/MontserratAlternates-Regular.ttf");
}
@font-face{
  font-family:MontserratAlternates-SemiBold;
  src: url("../fonts/immerseave/MontserratAlternates-SemiBold.ttf");
}
@font-face{
  font-family:MontserratSubrayada;
  src: url("../fonts/immerseave/MontserratSubrayada-Regular.ttf");
}
@font-face{
  font-family:Montserrat;
  src: url("../fonts/immerseave/Montserrat-Regular.ttf");
}
@font-face{
  font-family:Montserrat-Italic;
  src: url("../fonts/immerseave/Montserrat-Italic.ttf");
}
@font-face{
  font-family:Montserrat-SemiBold;
  src: url("../fonts/immerseave/Montserrat-SemiBold.ttf");
}
@font-face{
  font-family:ShaddedSouth;
  src: url("../fonts/immerseave/Shadded South Personal Use.ttf");
}
@font-face{
  font-family:AeroviasBrasil;
  src: url("../fonts/immerseave/AeroviasBrasilNF.ttf");
}
body{
  font-family: MontserratAlternates-Regular;
	color: #fff;
  background-image: url("../imgs/immerseave/4TF4.gif");
  background-size:cover;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}
.navbar{
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
  padding-left: 5%;
  padding-right: 5%;
}
.navbar .btn{
  background-image: linear-gradient(
   to right,
   #462523 0,
           #cb9b51 22%,
   #f6e27a 45%,
   #f6f2c0 50%,
   #f6e27a 55%,
   #cb9b51 78%,
   #462523 100%
   );
   color:transparent;
     -webkit-background-clip:text;
}
.navbar a, .navbar .btn[name="belleepoque"], .navbar .btn[name="popart"], .navbar .btn[name="futuristic"]{
  background-image: linear-gradient(101deg, rgba(57,57,57,1) 0%, rgba(187,185,185,1) 30%, rgba(251,251,251,1) 50%, rgba(187,185,185,1) 70%, rgba(98,98,98,1) 100%);
  color:transparent;
    -webkit-background-clip:text;}
.navbar .btn:hover, .navbar li:hover, .navbar a:hover{
  color:#fff;
}
.dropdown{
  margin-right:1em;
}
#TDM, #issuesnav, #makeitrain {
  background-color:rgba(65,72,234,0.5);
  border: none;
}
.dropdown-menu{
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
}
.rain
{
 background: url("../imgs/immerseave/rain.png");
 animation: rain .5s linear infinite;
 z-index:9;
 pointer-events: none;
}
.rain:before {
 content:'';
 position:absolute;
 width:100%;
 height: 100%;
 background: #fff;
 animation: lighting 3s linear infinite;
 opacity: 0;

}
@keyframes rain
{
 0% {
  background-position: 0% 0%;
 }
 100%{
  background-position: 20% 100%;
 }
}
@keyframes lighting
{
 0% {
  opacity:  1;
 }
 10%{
  opacity:  0;
 }
 11%{
  opacity:  0;
 }
 14%{
  opacity:  1;
 }
 20%{
  opacity:  0;
 }
 21%{
  opacity:  0;
 }
 24%{
  opacity:  0;
 }
 104%{
  opacity:  0;
 }

}

#makeitrain:focus{
  outline:0;
}
.carousel{
  height: 85vh;
}

.carousel-item {
  background-color:transparent;
  height: 85vh;
}
.carousel-item::before {
  opacity:0.2;
}
.carousel-caption {
  color:#4D3D23;
  bottom: auto;
}
.carousel-indicators [data-bs-target]{
  background-image: url("../imgs/MedievalBackgrounds/Flourishly-Frame-2.svg");
  height:20px;
  width:40px;
  background-size:contain;
  background-color: transparent;
}
h1, h2, h3, h4, h5{
  font-family: AeroviasBrasil;
  color: #9853b7;
}
.item_heading{
  font-size: 70px;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 80%);
   color:transparent;
     -webkit-background-clip:text;
  transition: all .2s ease-in-out;
  text-align:center;
  font-family: ShaddedSouth;
}
.item_heading:hover{
  transform: scale(0.9);
}
#maintitle{
  font-size:90px;
}
