@font-face {
    font-family: 'P22 Pop Art Comic';
    src: url('../fonts/popart/P22 Pop Art Comic Regular.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/popart/BADABB_.ttf') format('ttf'),
    url('../fonts/popart/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/popart/BadaBoomBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pop Art';
    src: url('../fonts/popart/PopArt-Regular.woff2') format('woff2'),
        url('../fonts/popart/PopArt-Regular.woff') format('woff'),
        url('../fonts/popart/PopArt-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sweaty Belvin';
    src: url('../fonts/popart/SweatyBelvinRegular.woff2') format('woff2'),
        url('../fonts/popart/SweatyBelvinRegular.woff') format('woff'),
        url('../fonts/popart/SweatyBelvinRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'P22 Pop Art Comic';
    src: url('../fonts/popart/P22 Pop Art Comic Regular.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/popart/BADABB_.ttf') format('ttf'),
    url('../fonts/popart/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/popart/BadaBoomBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pop Art';
    src: url('../fonts/popart/PopArt-Regular.woff2') format('woff2'),
        url('../fonts/popart/PopArt-Regular.woff') format('woff'),
        url('../fonts/popart/PopArt-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sweaty Belvin';
    src: url('../fonts/popart/SweatyBelvinRegular.woff2') format('woff2'),
        url('../fonts/popart/SweatyBelvinRegular.woff') format('woff'),
        url('../fonts/popart/SweatyBelvinRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: auto;
  margin-left: 5%;
  margin-right: 5%;
  background-image:url('../imgs/popartbackgrounds/navbar.png');
  background-size: contain;
}


.navbar{
  padding-left: 0px;
  padding-right:0px;
  padding-top: 1em;
  font-family: 'BadaBoom BB';
  background-image: url('../imgs/popartbackgrounds/navbar.png');
  background-size: cover;
}

#TDM {
color: black;
background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../imgs/popartbackgrounds/pop0.png');
background-size: cover;
border: none;
}


#issuesnav {
  color: black;
  border: none;
background-image: url('../imgs/popartbackgrounds/navbar.png');
background-size: cover;
}


.nav-item {
  margin-right: 1em;
}

.dropdown {
  padding-right: 1em;
}


button[name="medieval"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
}


button[name="belleepoque"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
}

button[name="bauhaus"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
}


button[name="popart"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
}

button[name="cioè"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
}

button[name="futuristic"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
}

 .item_heading {
   	font-family: 'BadaBoom BB';
    color: black;
    font-size: 200px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    transform: rotate(-5deg);
 }

.carousel-item {
  height: 90vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'P22 Pop Art Comic';
}

#thedailymeal {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('../imgs/popartbackgrounds/home2.jpg');
  background-size: cover;
}

#maintitle {
  font-size: 100px;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

#issues {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('../imgs/popartbackgrounds/issues.jpg');
  background-size: cover;
}

#documentation {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('../imgs/popartbackgrounds/documentation.jpg');
  background-size: cover;
}

#team {
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('../imgs/popartbackgrounds/pop9.jpg');
  background-size: cover;
}


.carousel-caption {
  color: black;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:center;
  height:75vh;
  margin:auto;
  padding: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

.carousel-caption h1 {
  font-size: 60px;
}

.carousel-caption h2 {
  font-size: 20px;
}


.carousel-caption p {
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  border-radius: 25px 30px 40px 20px;
}

.slider-btn {
  margin-top: 30px;
}

.slider-btn .btn {
  background-color: red;
  color: white;
  border-radius: 0;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  margin-right: 15px;
}

.slider-btn .btn-2 {
  color: black;
  background-color: white;
}
