/* fonts */
@font-face {
    font-family: 'Futura Bk';
    src: url('../fonts/bauhaus/Futura-Book.woff2') format('woff2'),
        url('../fonts/bauhaus/Futura-Book.woff') format('woff'),
				url('../fonts/bauhaus/Futura Book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus';
    src: url('../fonts/bauhaus/Bauhaus.woff2') format('woff2'),
        url('../fonts/bauhaus/Bauhaus.woff') format('woff'),
				url('../fonts/bauhaus/Bauhaus.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
/* end fonts */
/* body and navbar */
body {
  height: 100vh;
  overflow: hidden;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url('../imgs/bauhaushome/sfondo5.jpg');
  background-color: black;
  background-size: contain;
  text-transform: lowercase;
}
#TDM {
  color: black;
   background-color: #BF3F34;
  border: transparent;
  text-transform: lowercase;
}
#issuesnav {
  color: white;
  background-color: rgb(33, 64, 154);
  border: transparent;
  text-transform: lowercase;
}
#disclaimer {
  color: white;
  background-color: none;
  text-transform: lowercase;
  margin-left: 1em;
  border-radius: 4px;
  background-color: black;
  border: transparent;
  padding: 7px;
}
.nav-item {
  margin-right: 1em;
  text-transform: lowercase;
}
.dropdown {
  padding-right: 1em;
  text-transform: lowercase;
}
button[name="medieval"] {
  color: black;
  background-color: rgb(255, 222, 23);
}

button[name="belleepoque"] {
  color: white;
  background-color: black;
}

button[name="bauhaus"] {
  color: black;
  background-color: #BF3F34;
}

button[name="popart"] {
  color: white;
  background-color: rgb(33, 64, 154);
}

button[name="cioe"] {
  color: white;
  color: black;
  background-color: rgb(255, 222, 23);
}

button[name="futuristic"] {
  color: black;
   background-color: #BF3F34;
}

button[name="belleepoque"]:hover, button[name="cioe"]:hover, button[name="popart"]:hover  {
  color: white;
}
.navbar {
  text-transform: lowercase;
  padding-left: 0%;
  padding-right:0%;
  font-family: 'Bauhaus';
  background-image: url('../imgs/bauhaushome/navbar.png');
  background-size: cover;
  font-size: 15px;
  height:10vh;
}

/* end body and navbar */
/* carousel settings */

.item_heading {
  	font-family: 'Bauhaus';
    text-transform: lowercase;
}
.carousel {
  height:90vh;
}
.carousel-item {
  height: 90vh;
  min-height:300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
  font-family: 'Futura Bk';
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(246,242,230, .5), rgba(246,242,230, .5)),url('../imgs/bauhaushome/navbar.png');
  background-size: contain;
}

.carousel-caption {
  margin-bottom: 100px;
  padding: 100px;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:left;
  height:80vh;
  margin:auto;
  padding: 0px;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.carousel-caption h1 {
  font-size: 45px;
  color: black;
  color: white;
  background-color: black;
  padding: 10px;
  display: inline-block;
}

.carousel-caption h2 {
  font-size: 30px;
  color: black;
  font-family: 'Bauhaus';
  padding: 5px;
  border: 3px solid black;
}

.carousel-caption h3, h4 {
  font-size: 20px;
  font-family: "Bauhaus";
  color: white;
  background-color: black;
  padding: 5px;
}

#maintitle {
  font-size: 60px;
  text-align: left;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  writing-mode: vertical-lr;
  position: absolute;
  padding: 10px;
}

#subtitle {
  margin-left: 200px;
}

.carousel-caption p {
  font-size: 15px;
  text-align: justify;
  color: black;
  margin-left: 200px;
  margin-top: 1em;
}

#doc p{
  margin: 0px;
}

.images {
  padding: 10px;
 }

 a {
   color: black;
 }

 a:hover {
   color: #bf3f34;
 }

.palette {
  padding: 1em;
}

img {
  padding: 10px;
}

figcaption {
  color: black;
}
.carousel-indicators [data-bs-target]{
  background-image: url("../imgs/bauhaushome/triangle.svg");
  height:20px;
  width:40px;
  background-size: contain;
  background-color: transparent;
  margin-right: 1em;
}

/* end carousel settings */
/* buttons slider issues */

.slider-btn {
  margin-top: 30%;
  text-align: right;
  transform: rotate(-45deg);
}

.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-1:focus, .btn-2:focus, .btn-3:focus   {
  color: white;
  font-weight: bold;
}

.slider-btn .btn:hover {
  border: none;
}

.slider-btn .btn {
 font-family: 'Bauhaus';
 text-transform: lowercase;
  margin-right: 1em;
  text-align: center;
  font-size: 20px;
}

.slider-btn .btn-1 {
  padding: 2em 2em;
  background-color: #BF3F34;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  text-align: center;
}

.slider-btn .btn-2 {
  padding: 2em 2em;
  background-color: rgb(33, 64, 154);
  border-radius: 0%;
  width: 150px;
  height: 150px;
  text-align: center;
}

.slider-btn .btn-3 {
  padding: 2em 2em;
  background-color: rgb(255, 222, 23);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  text-align: center;
}
/* buttons slider issues */
/*documentation*/
.tab-pane {
  margin-top: 1em;
}
#nav-tab {
border-bottom: transparent;
}
.nav-link .active{
background: url("../imgs/bauhaushome/navbar.png");
}
#nav-1480-tab, #nav-1880-tab, #nav-1920-tab, #nav-1960-tab, #nav-1990-tab, #nav-2030-tab {
  color: black;
  font-family: "Bauhaus";
}
#nav-1480-tab:hover, #nav-1480-tab:focus {
  background-color: rgb(255, 222, 23);
}
#nav-1480-tab {
  background-color: inherit;
  border:none;
}
#nav-1880-tab:hover, #nav-1880-tab:focus {
  color: white;
  background-color: black;
}
#nav-1920-tab:hover, #nav-1920-tab:focus {
  background-color: #BF3F34;
}
#nav-1960-tab:hover, #nav-1960-tab:focus {
  color: white;
  background-color: rgb(33, 64, 154);
}
#nav-1990-tab:hover, #nav-1990-tab:focus {
  color: white;
  background-color: black;
}
#nav-2030-tab:hover, #nav-2030-tab:focus {
  background-color: #BF3F34;
}
/*documentation*/
/*disclaimer*/
.modal-content {
  position: relative;
  background-image: url('../imgs/bauhaushome/navbar.png');
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
.modal-header h2 {
  color: white;
  background-color: black;
  display: inline-block;
  text-align: left;
  padding: 5px;
}
.modal-body p{
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: justify;
}
/*disclaimer*/
/*team cards*/
.card p {
  margin-left:0px;
}
.card h5 {
  font-size: 25px;
  font-family: "Bauhaus";
  color: white;
  background-color: black;
  padding: 3px;
  display: inline-block;
}
/*team cards*/
#github {
  background-color: transparent;
  background-image: url("../imgs/github.svg");
  border:none;
  margin-left: 3px;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}
