@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);
@font-face{
  font-family:MontserratAlternates-Regular;
  src: url("../fonts/immerseave/MontserratAlternates-Regular.ttf");
}
@font-face{
  font-family:Montserrat;
  src: url("../fonts/immerseave/Montserrat-Regular.ttf");
}
@font-face{
  font-family:Montserrat-Italic;
  src: url("../fonts/immerseave/Montserrat-Italic.ttf");
}
@font-face{
  font-family:ShaddedSouth;
  src: url("../fonts/immerseave/Shadded South Personal Use.ttf");
}
@font-face{
  font-family:AeroviasBrasil;
  src: url("../fonts/immerseave/AeroviasBrasilNF.ttf");
}
html{
  height:100vh;
  overflow: hidden;
  margin:auto;
}

body{
  font-family: MontserratAlternates-Regular;
	color: #fff;
  background-image: url("../imgs/immerseave/giphy.gif");
  background-size:50%;
  background-position:center;
  background-repeat:no-repeat;
  background-color: black;
  height:100vh;
}
.navbar{
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
  padding-left: 5%;
  padding-right: 5%;
  height:10vh;
}
.navbar .btn, #nav-1480-tab, #nav-1920-tab, #nav-1990-tab{
  background-image: linear-gradient(
   to right,
   #462523 0, #cb9b51 22%, #f6e27a 45%,
   #f6f2c0 50%,
   #f6e27a 55%,
   #cb9b51 78%,
   #462523 100%
   );
   color:transparent;
     -webkit-background-clip:text;
}
.navbar a, .navbar .btn[name="belleepoque"], .navbar .btn[name="popart"], .navbar .btn[name="futuristic"], #nav-1880-tab, #nav-1960-tab, #nav-2030-tab{
  background-image: linear-gradient(101deg, rgba(57,57,57,1) 0%, rgba(187,185,185,1) 30%, rgba(251,251,251,1) 50%, rgba(187,185,185,1) 70%, rgba(98,98,98,1) 100%);
  color:transparent;
    -webkit-background-clip:text;}
.navbar .btn:hover, .navbar li:hover, .navbar a:hover, .nav .nav-link:hover{
  color:#fff;
}
#nav-1480-tab:hover, #nav-1920-tab:hover, #nav-1990-tab:hover, #nav-1880-tab:hover, #nav-1960-tab:hover, #nav-2030-tab:hover{
  color:#fff;
}
.dropdown{
  margin-right:1em;
}
#TDM, #issuesnav, #makeitrain {
  background-color:rgba(65,72,234,0.5);
  border: none;
}
.dropdown-menu{
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
}

.carousel{
  height:90vh;
}

.carousel-item {
  background-color:transparent;
  height: 90vh;
  padding-top: 2em;
}
.carousel-item::before {
  opacity:0.2;
}
.carousel-caption {
  color:white;
  height: 70vh;
  overflow-y:scroll;
  overflow-x:hidden;
  transition: all .2s ease-in-out;
  opacity: 0.7;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  margin:1rem;;
  padding:1em;
  border-radius:20px;
  box-shadow: 0.5rem 0.3rem 1rem #33ccff;
  bottom: auto;
}
.carousel-caption:hover{
  transform: scale(1.1);
  opacity: 1.0;
}
p{
  font-family:Montserrat;
  text-align:justify;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}
.carousel-indicators [data-bs-target]{
  background-image: url("../imgs/immerseave/trout-sillouette.svg");
  height:20px;
  width:57px;
  background-size:cover;
  background-color: transparent;
}
h1, h2, h3, h4, h5{
  font-family: AeroviasBrasil;
  color: #9853b7;
}
.item_heading{
  font-size: 70px;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 80%);
   color:transparent;
     -webkit-background-clip:text;
  transition: all .2s ease-in-out;
  text-align:center;
  font-family: ShaddedSouth;
}
.item_heading:hover{
  transform: scale(0.9);
}
#maintitle{
  font-size:90px;
}
.loadingscreen{
  transition: opacity .2s;
}
.content {
	background-image: url("../imgs/immerseave/4TF4.gif");
  background-size:cover;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}
.os-phrases h2 {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 70px;
	font-weight: 200;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 14px;
	text-align: center;
	opacity: 0;
}

.os-phrases h2,
.os-phrases h2 > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases h2 > span {
	margin: 0 15px;
}

.os-phrases h2 > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases h2 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 4s linear forwards;
	-moz-animation: OpeningSequence 4s linear forwards;
	animation: OpeningSequence 4s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

.os-phrases h2:nth-child(3) > span > span > span {
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	animation-delay: 7s;
}

.os-phrases h2:nth-child(4) > span > span > span {
	-webkit-animation-delay: 11s;
	-moz-animation-delay: 11s;
	animation-delay: 11s;
}

.os-phrases h2:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 16s;
	-moz-animation-delay: 16s;
	animation-delay: 16s;
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}

.os-phrases h2:nth-child(6) > span > span > span {
	-webkit-animation-delay: 30s;
	-moz-animation-delay: 30s;
	animation-delay: 30s;
}

.os-phrases h2:nth-child(7) > span > span > span {
	-webkit-animation-delay: 34s;
	-moz-animation-delay: 34s;
	animation-delay: 34s;
}

@-webkit-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		-webkit-transform: translateZ(130px);
		pointer-events: none;
	}
}

@-moz-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		-moz-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		-moz-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		-moz-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		-moz-transform: translateZ(130px);
		pointer-events: none;
	}
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.os-phrases h2:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 40s forwards;
	-moz-animation: FadeIn 4s linear 40s forwards;
	animation: FadeIn 4s linear 40s forwards;
}

@-webkit-keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

@-moz-keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

/* Bold words */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,.word3,.word4,
.os-phrases h2:nth-child(4) .word2 {
	font-family:Montserrat-Italic;
}
.rain
{
 background: url("../imgs/immerseave/rain.png");
 animation: rain .5s linear infinite;
 z-index:9;
 pointer-events: none;
}
.rain:before {
 content:'';
 position:absolute;
 width:100%;
 height: 100%;
 background: #fff;
 animation: lighting 3s linear infinite;
 opacity: 0;

}
@keyframes rain
{
 0% {
  background-position: 0% 0%;
 }
 100%{
  background-position: 20% 100%;
 }
}
@keyframes lighting
{
 0% {
  opacity:  1;
 }
 10%{
  opacity:  0;
 }
 11%{
  opacity:  0;
 }
 14%{
  opacity:  1;
 }
 20%{
  opacity:  0;
 }
 21%{
  opacity:  0;
 }
 24%{
  opacity:  0;
 }
 104%{
  opacity:  0;
 }

}

#makeitrain:focus{
  outline:0;
}

#issuesalign{
  text-align:center;
  padding:0em;
}
.slider-btn .btn-1, .slider-btn .btn-2, .slider-btn .btn-3{
  background-color:transparent;
  background-image:url("../imgs/immerseave/hamburger.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-family:AeroviasBrasil;
  color: white;
  transition: all .2s ease-in-out;
  padding: 3em;
  font-size: 2em;

}
.slider-btn .btn-2{
  background-image: url("../imgs/immerseave/PikPng.com_pasta-png_833044.png");
}
.slider-btn .btn-3{
  background-image: url("../imgs/immerseave/ice_cream_PNG5089.png");
}
.slider-btn .btn-1:hover, .slider-btn .btn-2:hover, .slider-btn .btn-3:hover{
  transform: scale(1.1);
  opacity:1;
  color:
}
.carousel-control-prev-icon{
  background-image: url('../imgs/immerseave/seascape-bubbles1.svg');
  width: 150%;
  transform: scaleX(-1);
}
.carousel-control-next-icon{
  background-image: url('../imgs/immerseave/seascape-bubbles1.svg');
  width:150%;
}

#turnsound{
  color:black;
  border:none;
}
#turnsound:hover{
  color:white;
}
.nav.nav-tabs{
  border-bottom:none;
  justify-content: center;
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
  border-radius:20px;
  margin-left: 20%;
  margin-right:20%;
}
.nav-tabs .nav-link.active{
  color:white;
  border-radius: 0.25em;
}
h3, h4, h5, h6{
  padding-top:1rem;
}
.slider-btn p{
  margin:1em;
}
/*disclaimer*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1.5px solid #4F3317;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  border-bottom: none;
}

.modal-body {padding: 2px 16px;}

.modal-body a{
  color:#9853b7;
}
#team > .carousel-caption{
  transition:none;
  opacity: 1;
  background: transparent;
  margin:auto;
  padding:auto;
  border-radius:0px;
  box-shadow: none;
  bottom: auto;
  height:75vh;
}
#team > .carousel-caption:hover{
  transform:none;
}
.card{
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  box-shadow: 0.5rem 0.3rem 1rem #33ccff;
  transition: all .2s ease-in-out;
  opacity: 0.7;
  border:none;
}
.card:hover{
  transform: scale(1.1);
  opacity: 1.0;
}
