@font-face {
  font-family: Hentimps Circlet;
  src: url('../fonts/medieval/Hentimps_Circlet.ttf');
}
@font-face {
  font-family: Goudy-initialen Regular;
  src: url('../fonts/medieval/goudy-initialen.regular.ttf');
}
body{
  font-family: Hentimps Circlet;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("FeatherQuill.cur"), pointer;
  color:#4D3D23;
  height:100vh;
}
a:hover, .btn:hover, .carousel-indicators [data-bs-target]:hover, li:hover, .carousel .carousel-control-prev:hover, .carousel .carousel-control-next:hover{
  cursor: url("Feather Quill Writing.cur"), pointer;
}

.navbar{
  padding-bottom:1em;
  background-image: url("../imgs/MedievalBackgrounds/test4.jpg");
  background-repeat: repeat;
  background-size:contain;
  border: solid black;
}
.nav-item, .dropdown-toggle, .dropdown-menu{
  border: solid black;
  border-radius:5px;
  margin-left:1em;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  color:black;
}
.dropdown-item:hover{
  color:white;
  background-color:inherit;
}
.carousel{
  height: calc(100vh - 72px);
}

.carousel-item {
  background-color:transparent;
  height: calc(100vh - 72px);
}
.carousel-item::before {
  opacity:0.2;
}
.carousel .carousel-control-prev-icon {
  background-image: url("../imgs/MedievalBackgrounds/pointing_hand.svg");
  width:200%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.carousel .carousel-control-next-icon {
  background-image: url("../imgs/MedievalBackgrounds/pointing_hand.svg");
  width:200%;
}
.carousel-caption {
  text-align:center;
  color:#4D3D23;
  bottom:auto;
}
.carousel-indicators [data-bs-target]{
  background-image: url("../imgs/MedievalBackgrounds/Flourishly-Frame-2.svg");
  height:20px;
  width:40px;
  background-size:contain;
  background-color: transparent;
}
.border-medieval{
  background-image: url("../imgs/MedievalBackgrounds/test2.jpg");
  background-size:cover;
  height:80vh;
  border:solid black;
}
h1{
  font-size: 400%;
}
.row{
  margin:0;
}
p::first-letter{
  font-size:200%;
    font-family: Goudy-initialen Regular;
    font-weight:normal;
    line-height: 0.75;
}
