@font-face {
  font-family: ArchivoBlack;
  src: url('../fonts/cioefonts/Archivo_Black/ArchivoBlack-Regular.ttf') format('ttf');
  src: url('../fonts/cioefonts/Archivo_Black/ArchivoBlack-Regular.woff') format('woff');

}
@font-face {
  font-family: DidactGothic;
  src: url('../fonts/cioefonts/Didact_Gothic/DidactGothic-Regular.ttf') format('ttf');
  src: url('../fonts/cioefonts/Didact_Gothic/DidactGothic-Regular.woff') format('woff');
}

@font-face {
  font-family: RampartOne;
  src: url('../fonts/cioefonts/Rampart_One/RampartOne-Regular.ttf') format('ttf');
  src: url('../fonts/cioefonts/Rampart_One/RampartOne-Regular.woff') format('woff');
}
@font-face {
  font-family: HiddencocktailsItalicshadow;
  src: url('../fonts/cioefonts/HiddencocktailsItalicshadow-lgL7V.ttf') format('ttf');
  src:url('../fonts/cioefonts/HiddenCocktails-ItalicShadow.woff') format('woff');
  src:url('../fonts/cioefonts/HiddenCocktails-ItalicShadow.woff2') format('woff2');
}
@font-face {
  font-family: Helvetica;
  src: url('../fonts/cioefonts/Helvetica.ttf') format('ttf');

}
html{
  cursor: url("Pizza.cur"), pointer;
}
a:hover, .btn:hover, .carousel-control-prev:hover, .carousel-control-next:hover{
  cursor: url("Hamburger.cur"), pointer;
}
.navbar {
  padding-left: 5%;
  padding-right: 4%;
  padding-bottom: 1%;
  padding-top: 1%;
  font-family: RampartOne;
  background-image: url("../imgs/cioebackgrounds/comic-book-super-hero-background_105164-289.jpeg");
  background-size: cover;
  border-bottom: 3px solid purple;
  height: 10vh;
}
.dropdown-item{
  border: double black;
  border-radius: 10px 10px 10px 10px;
  background-color: yellow;
  padding: 10px;
}
.dropdown-item:hover{
  background-color: #FF00EC;
  color: yellow;
}
.dropdown-item:focus{
  background-color: #FF00EC;
}

.btn:hover{
  background-color: #FF00EC;
  color: yellow;
}

.dropdown-toggle:hover{
  background-color: #FF00EC;
  color: black;
}
.dropdown-toggle:focus, .dropdown-menu:focus{
  background-color: #FF00EC;
  color: black;
}

.dropdown-menu:hover{
  background-color: #8BEE03;
}

.nav-item{
  border: double black;
  border-radius: 10px 10px 10px 10px;
  background-color: yellow;
  padding: 10px;
}

#navbar{
  border: double black;
  border-radius: 10px 10px 10px 10px;
  background-color: yellow;
  padding: 17px;
}

.btn{
  background-color: yellow;
  color: black;
  padding: 0;
}
.nav-link{
  padding: 0;
}

.dropdown-toggle, .dropdown-menu, .nav-disclaimer{
  border: double black;
  border-radius: 10px 10px 10px 10px;
  background-color: yellow;
  padding: 10px;
  color: black;
}
#issuesnav:hover, #TDM:hover, #disclaimer:hover, #issuesnav:focus, #TDM:focus, #disclaimer:focus{
  background-color: #FF00EC;
  color: yellow;
}
.carousel {
  height:90vh;
}
.carousel-item {
  height: 90vh;
  min-height:300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-image: url("../imgs/cioebackgrounds/pizza party.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#documentation{
  background-image: url('../imgs/cioebackgrounds/documentationpage.png');
}

#team{
  background-image: url('../imgs/cioebackgrounds/teamcover1.png');
}

.carousel-item::before {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: #8BEE03;*/
  opacity: 0;
}

.carousel-caption {
  margin-bottom: 100px;
  padding: 100px;
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:left;
  height:80vh;
  margin:auto;
  padding: 0px;
}

.carousel-indicators [data-bs-target]{
  background-image: url('../imgs/cioebackgrounds/icons-star-256.png');
  height:40px;
  width:40px;
  background-size:contain;
  background-color: transparent;
}

.carousel-indicators [aria-current]{
  background-image: url('../imgs/cioebackgrounds/icons8-star-256.png');
  height:40px;
  width:40px;
  background-size:contain;
  background-color: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.carousel-caption h1{
  font-size: 60px;
  text-align: center;
  border: double 3px black;
  border-radius: 10px 10px 10px 10px;
  background-color: #86FF62;
  background-size: cover;
  background-image: url('../imgs/cioebackgrounds/4bh3oq2krtm31.png');
  font-family: "HiddencocktailsItalicShadow";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #C10055;
  color: red;
  margin-right: 60%;
}

.carousel-caption h2 {
  font-size: 50px;
  font-family: "HiddencocktailsItalicShadow";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #E469F7;
  text-align: left;
  padding: 1rem;
}

p{
  font-size: 30px;
  font-family: DidactGothic;
  color: black;
  margin-right: 60%;
  /*padding: 8px;*/
}

#maintitle {
  font-size: 110px;
  background-image: url('../imgs/cioebackgrounds/4bh3oq2krtm31.png');
  background-size: cover;
  font-style: "HiddencocktailsItalicShadow";
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.carousel-caption p{
  margin-top: 10%;
  font-size: 18px;
  text-align: justify;
  border: solid 5px #E469F7;;
  border-radius: 10px 10px 10px 10px;
  background-color: #94F489;
}

.slider-btn {
  margin-top: 50px;
}

.btn-2, .btn-1, .btn-3{
  color: transparent;
  border-radius: 50%;
  font-family: "RampartOne";
  text: hidden;
  font-size: 18px;
  border: ridge 8px #FF00EC;
  height: 150px;
  width: 150px;
  padding: 1rem;
}
.btn-2{
  background-color: #00DEB9;
  background-image: url('../imgs/cioebackgrounds/pastaaa.28.43-removebg-preview.png');
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-1{
  background-color: #010CFF;
  background-image: url('../imgs/cioebackgrounds/Progetto_senza_titolo__1_-removebg-preview.png');
  background-size: 200px;
  background-repeat: no-repeat;
  margin-right: 95%;
  margin-left: 15%;
}
.btn-3{
  background-image: url('../imgs/cioebackgrounds/rainbow-colored-ice-cream-neon-sign_1262-19630.jpeg');
  background-size: 140px;
  background-repeat: no-repeat;
  margin-right: 95%;
  margin-left: 15%;
}
.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-1:focus, .btn-2:focus, .btn-3:focus{
  color: yellow;
  font-family: "RampartOne";
}
.btn-2:hover, .btn-2:focus{
  background-color: #00DEB9;
  color: yellow;
  font-family: "RampartOne";
}
.btn-1:hover{
  background-color: #010CFF;
}
.carousel-control-prev-icon{
  background-image: url('../imgs/cioebackgrounds/icons8-next-200.png');
  transform: rotate(180deg);
  background-blend-mode: hard-light;
}
.carousel-control-next-icon{

    background-image: url('../imgs/cioebackgrounds/icons8-next-200.png');
    background-blend-mode: hard-light;
}
/*documentation page*/

#nav-1480-tab, #nav-1960-tab{

    border: double black;
    border-radius: 10px 10px 10px 10px;
    background-color: #D37CFF;
    padding: 10px;
    color: black;
    font-family: "RampartOne";
}
#nav-1880-tab, #nav-1990-tab{

    border: double black;
    border-radius: 10px 10px 10px 10px;
    background-color: #FFF56F;
    padding: 10px;
    color: black;
    font-family: "RampartOne";
}
#nav-1920-tab, #nav-2030-tab{

    border: double black;
    border-radius: 10px 10px 10px 10px;
    background-color: #94F489;
    padding: 10px;
    color: black;
    font-family: "RampartOne";
}
.tab-content p{
  margin: 5%;
}
.nav-tabs{
  border:none;
  margin-left: 30%;
}
.tab-pane p{
  margin: 5%;
  margin-bottom: 10%;
}
#documentation p{
  margin: 5%;
}
#documentation h1, #documentation h2{
  margin-right: 30%;
  margin-left: 30%;
}
