/* General Demo Style */
@import url(https://fonts.googleapis.com/css?family=Dosis:200,600);
@font-face{
  font-family:MontserratAlternates-Regular;
  src: url("../fonts/immerseave/MontserratAlternates-Regular.ttf");
}
@font-face{
  font-family:Montserrat;
  src: url("../fonts/immerseave/Montserrat-Regular.ttf");
}
@font-face{
  font-family:Montserrat-Italic;
  src: url("../fonts/immerseave/Montserrat-Italic.ttf");
}
@font-face{
  font-family:ShaddedSouth;
  src: url("../fonts/immerseave/Shadded South Personal Use.ttf");
}
@font-face{
  font-family:AeroviasBrasil;
  src: url("../fonts/immerseave/AeroviasBrasilNF.ttf");
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }


html{
  height:100vh;
  overflow: hidden;
  margin:auto;
}

.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:90vh;
  margin:auto;
  padding:2rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

body{
  font-family: MontserratAlternates-Regular;
	color: #fff;
	background-image: url("../imgs/immerseave/giphy.gif");
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.loadingscreen{
  transition: opacity .2s;
}
.content {
	background-image: url("../imgs/immerseave/4TF4.gif");
  background-size:cover;
  background-repeat:no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.codrops-top {
	text-transform: uppercase;
	position: relative;
	z-index: 1000;
	font-size: 0.68rem;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1rem;
	letter-spacing: 0.1rem;
	color: rgba(255,255,255,0.2);
	display: inline-block;
}

.codrops-top a:hover {
	color: rgba(255,255,255,0.9);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.os-phrases h2 {
	font-family: 'Dosis', 'Lato', sans-serif;
	font-size: 70px;
	font-weight: 200;
	width: 100%;
	overflow: hidden;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 14px;
	text-align: center;
	opacity: 0;
}

.os-phrases h2,
.os-phrases h2 > span {
	height: 100%;
	/* Centering with flexbox */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.os-phrases h2 > span {
	margin: 0 15px;
}

.os-phrases h2 > span > span {
	display: inline-block;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.os-phrases h2 > span > span > span {
	display: inline-block;
	color: hsla(0,0%,0%,0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-animation: OpeningSequence 4s linear forwards;
	-moz-animation: OpeningSequence 4s linear forwards;
	animation: OpeningSequence 4s linear forwards;
}

.os-phrases h2:nth-child(2) > span > span > span {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}

.os-phrases h2:nth-child(3) > span > span > span {
	-webkit-animation-delay: 7s;
	-moz-animation-delay: 7s;
	animation-delay: 7s;
}

.os-phrases h2:nth-child(4) > span > span > span {
	-webkit-animation-delay: 11s;
	-moz-animation-delay: 11s;
	animation-delay: 11s;
}

.os-phrases h2:nth-child(5) > span > span > span {
	font-size: 150px;
	-webkit-animation-delay: 16s;
	-moz-animation-delay: 16s;
	animation-delay: 16s;
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
}

.os-phrases h2:nth-child(6) > span > span > span {
	-webkit-animation-delay: 30s;
	-moz-animation-delay: 30s;
	animation-delay: 30s;
}

.os-phrases h2:nth-child(7) > span > span > span {
	-webkit-animation-delay: 34s;
	-moz-animation-delay: 34s;
	animation-delay: 34s;
}

@-webkit-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0;
		-webkit-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		-webkit-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		-webkit-transform: translateZ(130px);
		pointer-events: none;
	}
}

@-moz-keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		-moz-transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		-moz-transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		-moz-transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		-moz-transform: translateZ(130px);
		pointer-events: none;
	}
}

@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 80px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.os-phrases h2:nth-child(8) > span > span > span {
	font-size: 30px;
	-webkit-animation: FadeIn 4s linear 40s forwards;
	-moz-animation: FadeIn 4s linear 40s forwards;
	animation: FadeIn 4s linear 40s forwards;
}

@-webkit-keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

@-moz-keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

@keyframes FadeIn {
	0% {
		opacity: 0;
		text-shadow: 0 0 50px #fff;
	}
	100% {
		opacity: 0.8;
		text-shadow: 0 0 1px #fff;
	}
}

/* Bold words */
.os-phrases h2:first-child .word3,
.os-phrases h2:nth-child(2) .word2,.word3,.word4,
.os-phrases h2:nth-child(4) .word2 {
	font-family:Montserrat-Italic;
}

.article{
  height:80vh;
  transition: all .2s ease-in-out;
  opacity: 0.7;
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
  padding:2rem;
  border-radius:20px;
  box-shadow: 0.5rem 0.3rem 1rem #33ccff;
}
.article:hover{
  transform: scale(1.1);
  opacity: 1.0;
}

.navbar{
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
  padding-left: 5%;
  padding-right: 5%;
  height:10vh;
}
.navbar .btn{
  background-image: linear-gradient(
   to right,
   #462523 0,
           #cb9b51 22%,
   #f6e27a 45%,
   #f6f2c0 50%,
   #f6e27a 55%,
   #cb9b51 78%,
   #462523 100%
   );
   color:transparent;
     -webkit-background-clip:text;
}
.navbar a, .navbar .btn[name="belleepoque"], .navbar .btn[name="popart"], .navbar .btn[name="futuristic"]{
  background-image: linear-gradient(101deg, rgba(57,57,57,1) 0%, rgba(187,185,185,1) 30%, rgba(251,251,251,1) 50%, rgba(187,185,185,1) 70%, rgba(98,98,98,1) 100%);
  color:transparent;
    -webkit-background-clip:text;}
.navbar .btn:hover, .navbar li:hover, .navbar a:hover{
  color:#fff;
}
.article img{
  width: 100%;
  width: fill-available;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  transition: all .2s ease-in-out;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 0.5rem 0.3rem 1rem #33ccff;
}
.article img:hover{
  transform: scale(1.1);
}
.dropdown{
  margin-right:1rem;
}
#TDM, #issuesnav, #makeitrain {
  background-color:rgba(65,72,234,0.5);
  border: none;
}
.header h1 {
  font-size: 35px;
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
   color:transparent;
     -webkit-background-clip:text;
  transition: all .2s ease-in-out;
  text-align:center;
  font-family: ShaddedSouth;
}
.header h1:hover{
  transform: scale(0.9);
}
.header .thing5_rightsordate{
  text-align: right;
  font-family: Montserrat-Italic;
}
.content>.container>.row:last-child>.col-4:first-child>.article{
  margin-top:1.5rem;
  transform: skewY(-9deg);
}
.content>.container>.row:last-child>.col-4:last-child>.article{
  margin-top:1.5rem;
  transform: skewY(9deg);
}
.content>.container>.row:last-child>.col-4:first-child>.article:hover, .content>.container>.row:last-child>.col-4:last-child>.article:hover{
  transform: skewY(0deg);
  margin-top:inherit;
}

.header{
 margin-bottom: 1.5rem;
}
.row{
  margin-top:0.5rem;
}
.dropdown-menu{
  background: radial-gradient(circle, #4b6cb7 0%, #182848 100%);
 }
 .header h2{
   text-align: left;
   font-family: AeroviasBrasil;
   font-size: 20px;
   color: #9853b7;
 }
 .header h3{
   font-size: 15px;
   color:#c34d96;
   font-family: AeroviasBrasil;
 }
 .text h1, .text h2, .text h3, .text h4{
   font-family:MontserratAlternates-Regular;
 }
 .text {
   font-family: Montserrat;
 }
 .text i{
   font-family: Montserrat-Italic;
 }
 .rain
 {
  background: url("../imgs/immerseave/rain.png");
  animation: rain .5s linear infinite;
  z-index:9;
  pointer-events: none;
 }
 .rain:before {
  content:'';
  position:absolute;
  width:100%;
  height: 100%;
  background: #fff;
  animation: lighting 3s linear infinite;
  opacity: 0;

 }
 @keyframes rain
 {
  0% {
   background-position: 0% 0%;
  }
  100%{
   background-position: 20% 100%;
  }
 }
 @keyframes lighting
 {
  0% {
   opacity:  1;
  }
  10%{
   opacity:  0;
  }
  11%{
   opacity:  0;
  }
  14%{
   opacity:  1;
  }
  20%{
   opacity:  0;
  }
  21%{
   opacity:  0;
  }
  24%{
   opacity:  0;
  }
  104%{
   opacity:  0;
  }
 }

 #makeitrain:focus{
   outline:0;
 }
 .table{
   color:#fff;
   text-align:left;
 }
 .panel-heading, .panel-body{
   opacity: 0.7;
   background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
   border-radius:20px;
   box-shadow: 0.5rem 0.3rem 1rem #33ccff;
   border:none;
 }
 .panel-heading:hover, .panel-body:hover{
   transform: scale(1.1);
   opacity: 1.0;
 }
 .panel-heading, .head-sectionsArt1, .head-sectionsArt2, .head-sectionsArt3{
   color: #9853b7;
   font-family: AeroviasBrasil;
 }
.head-sectionsArt1, .head-sectionsArt2, .head-sectionsArt3, .headArt1-1, .headArt1-2, .headArt1-3, .headArt1-4, .headArt1-5, .headArt1-6, .headArt1-7, .headArt1-8, .headArt1-9,.headArt1-10,
.headArt2-1, .headArt2-2, .headArt2-3, .headArt2-4, .headArt2-5, .headArt2-6, .headArt2-7, .headArt2-8, .headArt2-9,.headArt2-10,
.headArt3-1, .headArt3-2, .headArt3-3, .headArt3-4, .headArt3-5, .headArt3-6, .headArt3-7, .headArt3-8, .headArt3-9, .headArt3-10, .subHeadArt1-1, .subHeadArt1-2, .subHeadArt1-3, .subHeadArt1-4, .subHeadArt1-5, .subHeadArt1-6, .subHeadArt1-7, .subHeadArt1-8, .subHeadArt1-9,
.subHeadArt1-10, .subHeadArt1-11, .subHeadArt1-12, .subHeadArt1-13, .subHeadArt1-14, .subHeadArt1-15, .subHeadArt1-16, .subHeadArt1-17,
.subHeadArt2-1, .subHeadArt2-2, .subHeadArt2-3, .subHeadArt2-4, .subHeadArt2-5, .subHeadArt2-6, .subHeadArt2-7, .subHeadArt2-8, .subHeadArt2-9,
.subHeadArt3-1, .subHeadArt3-2, .subHeadArt3-3, .subHeadArt3-4, .subHeadArt3-5, .subHeadArt3-6, .subHeadArt3-7, .subHeadArt3-8, .subHeadArt3-9, .subSubHeadArt1-1, .subSubHeadArt1-2, .subSubHeadArt1-3, .subSubHeadArt2-1, .subSubHeadArt3-1{
  border:none;
  color: #9853b7;
  font-family: AeroviasBrasil;
  background-color: transparent;
}
#turnsound{
  color:black;
  border:none;
}
#turnsound:hover{
  color:white;
}
#scrollUp{
  background-color: transparent;
  background-image: url("../imgs/MedievalBackgrounds/left.svg");
  border:none;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
  transition: all .2s ease-in-out;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);

}
#scrollUp:hover{
  -webkit-transform: rotate(90deg) scale(1.5);
  transform: rotate(90deg) scale(1.5);
}
#scrollUp:focus, #scrollUp:active{
  outline:none !important;
  box-shadow:none;
}
