@font-face {
  font-family: Hentimps Circlet;
  src: url('../fonts/medieval/Hentimps_Circlet.ttf');
}
@font-face {
  font-family: Goudy-initialen Regular;
  src: url('../fonts/medieval/goudy-initialen.regular.ttf');
}
body{
  height:100vh;
  overflow: hidden;
  margin:auto;
  margin-left:5%;
  margin-right:5%;
  font-family: Hentimps Circlet;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("FeatherQuill.cur"), pointer;
}
.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:85vh;
  margin:auto;
  padding:2em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

a:hover{
  cursor: url("Feather Quill Writing.cur"), pointer;
}

img{
  border: solid black;
  max-width: -webkit-fill-available;
}
.border-medieval{
  background-image: url("../imgs/MedievalBackgrounds/test2.jpg");
  background-size:cover;
  height:90vh;
  border:solid black;
  border-top:none;
}
h1, h2, h3, h4{
  font-size: inherit;
  color: red;
  margin:0;
}
h1{
  font-size:200%;
}

p::first-letter{
  float:left;
  font-size:150%;
  color: #1D50F7;
    font-family: Goudy-initialen Regular;
    font-weight:normal;
    line-height: 0.75;
}


.container{
  margin-left:0;
  margin-right:0;
  padding:0;
  max-width:100%;
}
.row{
  margin:auto;
}
.navbar{
  margin-top:1em;
  padding-bottom:1em;
  background-image: url("../imgs/MedievalBackgrounds/test4.jpg");
  background-repeat: repeat;
  background-size:contain;
  border: solid black;
}
.navbar .btn{
  border: solid black;
  border-radius:5px;
  margin-left:1em;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
}
table, th, td{
  border:1px solid black;
}
table{
  border-collapse:collapse;
  width:100%;
}
.text{
  margin-top:2em;
}

.panel-heading, .panel-body {
  margin-top: 0.5em;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  border: solid black;
}
.panel-body{
  background:transparent;
}
