@font-face {
  font-family: Hentimps Circlet;
  src: url('../fonts/medieval/Hentimps_Circlet.ttf');
}
@font-face {
  font-family: Mayflower Antique;
  src: url('../fonts/medieval/mayflower-antique.regular.ttf');
}
@font-face {
  font-family: Adine-Kirnberg Regular;
  src: url('../fonts/medieval/adine-kirnberg.regular.ttf');
}
body{
  height:100vh;
  overflow: hidden;
  margin:auto;
  margin-left:5%;
  margin-right:5%;
  font-family: Hentimps Circlet;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("FeatherQuill.cur"), pointer;
  line-height: 1.2em;
}
.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height: 83vh;
  margin:auto;
  padding:0.5em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

a:hover{
  cursor: url("Feather Quill Writing.cur"), pointer;
}

img{
  border: 1px solid black;
  max-width: -webkit-fill-available;
}
.border-medieval{
  background-image: url("../imgs/MedievalBackgrounds/test2.jpg");
  background-size:cover;
  height:90vh;
  border:1.5px solid black;
  border-top:none;
}
h1, h2, h3, h4{
  font-size: inherit;
  font-family:Mayflower Antique;
  color: #E13030;
  margin:0;
  text-transform: uppercase;
  text-align: center;
}
h1{
  font-size:1.5em;
}

p::first-letter{
  float:left;
  font-size:400%;
  letter-spacing:2px;
  color: #E13030;
  font-family: Mayflower Antique;
  font-weight:normal;
  line-height: 0.9;
}
p:nth-of-type(even)::first-letter{
  color:#2727A8;
}
p, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

.container{
  margin-left:0;
  margin-right:0;
  padding:0;
  max-width:100%;
}
.row{
  margin:auto;
}
.col-4{
  padding:0;
}
.navbar{
  padding-bottom:1em;
  padding-top: 1em;
  background-image: url("../imgs/MedievalBackgrounds/test4.jpg");
  background-repeat: repeat;
  background-size:contain;
  border: 1.5px solid black;
  height: 10vh;
}
.nav-item, .dropdown-toggle, .dropdown-menu{
  border: 1.5px solid black;
  border-radius:5px;
  margin-left:1em;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  color:black;
}
.dropdown-item:hover{
  background-color: inherit;
  color:white;
}
table, th, td{
  border:1px solid black;
}
table{
  border-collapse:collapse;
  width:100%;
}
.text{
  margin-top:2em;
}

.panel-heading, .panel-body{
  margin-top: 0.3em;
  background-color:rgba(124, 80, 36, 0.2);
  border-radius:5px;
  border:none;
}
.panel-body *{
  background:transparent;
  border:none;
  color:#4F3317;
  text-transform: uppercase;
  font-family: Mayflower Antique;
  font-size:0.9em;
}
.panel-body h1{
  color: #E13030;
}
.panel-heading{
  text-decoration: underline;
  text-decoration-thickness:1px;
  font-family:Adine-Kirnberg Regular;
  font-size:2rem;
}
a{
  color: #E13030;
}
