@font-face {
  font-family: Hentimps Circlet;
  src: url('../fonts/medieval/Hentimps_Circlet.ttf');
}
@font-face {
  font-family: Mayflower Antique;
  src: url('../fonts/medieval/mayflower-antique.regular.ttf');
}
@font-face {
  font-family: Adine-Kirnberg Regular;
  src: url('../fonts/medieval/adine-kirnberg.regular.ttf');
}
body{
  height:100vh;
  overflow: hidden;
  margin:auto;
  margin-left:5%;
  margin-right:5%;
  font-family: Hentimps Circlet;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  cursor: url("FeatherQuill.cur"), pointer;
  line-height: 1.2em;
  color:#4F3317;
}
.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height: 83vh;
  margin:auto;
  padding:0.5em;
}

/* hide scrollbar */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

a:hover{
  cursor: url("Feather Quill Writing.cur"), pointer;
}

img{
  border: 1px solid #4F3317;
  width: 100%;
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: fill-available;
  max-width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
}
figure img, .text img{
  margin: 0 2em 0 2em;
  opacity:0.8;
  filter: sepia(20%);
}
.border-medieval{
  background-image: url("../imgs/MedievalBackgrounds/test2.jpg");
  background-size:cover;
  height:90vh;
  border:1.5px solid #4F3317;
  border-top:none;
}
h1, h2, h3, h4{
  font-size: inherit;
  font-family:Mayflower Antique;
  color: #E13030;
  margin:0;
  text-transform: uppercase;
  text-align: center;
}
h1{
  font-size:1.5em;
}

p::first-letter{
  float:left;
  font-size:380%;
  letter-spacing:2px;
  color: #E13030;
  font-family: Mayflower Antique;
  font-weight:normal;
  line-height: 0.9;
}
p:nth-of-type(even)::first-letter{
  color:#2727A8;
}
p, h1, h2, h3, h4, h5 {
  margin-bottom: 0;
}

.container{
  margin-left:0;
  margin-right:0;
  padding:0;
  max-width:100%;
}
.row{
  margin:auto;
}
.col-4{
  padding:0;
}
.navbar{
  padding-bottom:1em;
  padding-top: 1em;
  background-image: url("../imgs/MedievalBackgrounds/test4.jpg");
  background-repeat: repeat;
  background-size:contain;
  border: 1.5px solid #4F3317;
  height: 10vh;
}
.nav-item, .dropdown-toggle, .dropdown-menu{
  border: 1.5px solid #4F3317;
  border-radius:5px;
  margin-left:1em;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
  color:#4F3317;
}
.btn{
  color:#4F3317;
}
.dropdown-item:hover, .nav-item .btn:hover, .nav-item .nav-link:hover{
  background-color: inherit;
  color:white;
}
table, th, td{
  border:1px solid #4F3317;
}
table{
  border-collapse:collapse;
  width:100%;
}
.text{
  margin-top:2em;
}

.panel-heading, .panel-body{
  margin-top: 0.3em;
  background-color:rgba(124, 80, 36, 0.2);
  border-radius:5px;
  border:none;
}
.panel-body *{
  background:transparent;
  border:none;
  color:#4F3317;
  text-transform: uppercase;
  font-family: Mayflower Antique;
  font-size:0.9em;
}
.panel-body h1{
  color: #E13030;
}
.panel-heading{
  text-decoration: underline;
  text-decoration-thickness:1px;
  font-family:Adine-Kirnberg Regular;
  font-size:2rem;
}
a{
  color: #E13030;
}
#scrollUp{
  background-color: transparent;
  background-image: url("../imgs/MedievalBackgrounds/pointing_hand.svg");
  border:none;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#wikipedia {
  background-color: transparent;
  background-image: url("../imgs/wcircle.svg");
  border:none;
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}

#source {
  background-color: transparent;
  background-image: url("../imgs/iconlens.svg");
  border:none;
  margin-left: 3px;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}
/*disclaimer*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background:transparent;
  background-color:rgba(124, 80, 36, 0.2);
}

/* Modal Content */
.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  border: 1.5px solid #4F3317;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-image: url("../imgs/MedievalBackgrounds/old-parchment.jpg");
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #4F3317;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: rgba(124, 80, 36, 0.4);
  border-bottom: 1px solid #4F3317;
}

.modal-body {padding: 2px 16px;}
