/* fonts */
@font-face {
    font-family: 'Futura Bk';
    src: url('../fonts/bauhaus/Futura-Book.woff2') format('woff2'),
        url('../fonts/bauhaus/Futura-Book.woff') format('woff'),
				url('../fonts/bauhaus/Futura Book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bauhaus';
    src: url('../fonts/bauhaus/Bauhaus.woff2') format('woff2'),
        url('../fonts/bauhaus/Bauhaus.woff') format('woff'),
				url('../fonts/bauhaus/Bauhaus.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
/* end fonts */
/* body and navbar */

body {
	font-family: 'Futura Bk';
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #f6f2e6;
  text-transform: lowercase;
}
.navbar{
  padding-left: 7%;
  padding-right:7%;
  font-family: 'Bauhaus';
  text-transform: lowercase;
  background-image: url('../imgs/bauhaushome/navbar.png');
  background-size: cover;
  font-size: 15px;
  height: 10vh;
}
.navbar .nav-link {
  margin: 2px;
}

#TDM {
  color: black;
   background-color: #BF3F34;
   border: transparent;
   text-transform: lowercase;
}
#disclaimer {
  color: white;
  background-color: none;
  text-transform: lowercase;
  margin-left: 1em;
  border-radius: 4px;
  background-color: black;
  border: transparent;
  padding: 7px;
}
#issuesnav {
  color: white;
  background-color: rgb(33, 64, 154);
  border: transparent;
  text-transform: lowercase;
}
.nav-item {
  margin-right: 1em;
}
.dropdown {
  padding-right: 1em;
}
button[name="medieval"] {
  color: black;
  background-color: rgb(255, 222, 23);
}
button[name="belleepoque"] {
  color: white;
  background-color: black;
}
button[name="bauhaus"] {
  color: black;
  background-color: #BF3F34;
}
button[name="popart"] {
  color: white;
  background-color: rgb(33, 64, 154);
}
button[name="cioe"] {
  color: white;
  background-color: black;
}
button[name="futuristic"] {
  color: black;
   background-color: #BF3F34;
}
button[name="belleepoque"]:hover, button[name="cioe"]:hover, button[name="popart"]:hover  {
  color: white;
}
/* end body and navbar */
/* articles structure*/
.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:80vh;
  margin:auto;
  padding: 0px;
}
/* hide scrollbar */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

.text {
  text-align: justify;
  width: 90%;
}
/* articles settings*/
h1 {
    font-family: 'Bauhaus';
		text-transform: lowercase;
		font-size: 4rem;
		display: inline;
}
h2, h3, h4 {
  font-family: 'Bauhaus';
  text-transform: lowercase;
}
h4 {
  font-size: 18px;
}

.section_heading {
  margin-right: 4rem;
  font-family: 'Bauhaus';
  text-transform: lowercase;
  font-size: 20px;
  color: white;
  background-color: black;
  display: inline-block;
  padding: 5px;
  text-align: left;
}

.subsection_heading {
  font-family: 'Bauhaus';
  text-transform: lowercase;
  font-size: 18px;
  width: 100%;
}
.section_abstract {
  padding: 1em;
  border-top: 0.4rem solid black;
  border-right: 0.4rem solid black;
	font-size: 12px;
}
.section p:nth-child(odd) {
  padding: 1em;
  border-top: 0.4rem solid black;
  border-left: 0.4rem solid black;
}

.section p:nth-child(even) {
  padding: 1em;
  border-top: 0.4rem solid black;
  border-right: 0.4rem solid black;
}

.subsection_heading::before{
content: '';
display: inline-block;
width: 15px;
height: 15px;
-moz-border-radius: 7.5px;
-webkit-border-radius: 7.5px;
border-radius: 7.5px;
background-color: black;
margin-right: 10px;
}
.source {
font-size: 10px;
}

.table {
  padding: 1em;
  text-align: center;
  width: 100%;
}

.table header {
  font-size: 12px;
}

  img {
  height: auto;
  max-width: 95%;
  filter:brightness(70%) contrast(100%) saturate(0%) brightness(150%);
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.images_hist {
  height: auto;
  max-width: 100%;
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  border-radius: 0%;
}
figure {
  text-align: center;
}
#nocircle1, #nocircle2, #nocircle3, #nocircle4, #nocircle5 {
  height: auto;
  max-width: 80%;
  filter:brightness(70%) contrast(150%) saturate(0%) brightness(150%);
  border-radius: 0%;
  align: left;
}

.blockquote, .header2, blockquote  {
	border-left:0.7rem solid black;
	font-size:1.1rem;
	padding-left:0.4rem;
}

a {
  color: black
}

a:hover {
  color: #bf3f34;
}
/*end articles */
/*header */
 .header {
	 width: 100%;
	 height: 100%;
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	 grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
	 grid-gap: 1em;
   margin-bottom: 2em;
   margin-top: auto;
   font-family: 'Bauhaus';
   text-transform: lowercase;
   text-align: left;
}
.header .thing1_title {
  font-size: 30px;
  text-transform: lowercase;
  grid-column: 1 / span 6;
  grid-row: 2;
  align-self: start;
  font-weight: bold;

}
.header .thing2_authors {
  font-size: 16px;
  grid-column: 2 / span 6;
  grid-row: 3 / span 4;
}
.header .thing3 {
  font-size: 15px;
  grid-column: 2 / span 3;
  grid-row: 4 / span 5;
  align-self: left;
}
.header .thing4_publisher {
  font-size: 10px;
  grid-column: 2 / span 7;
  grid-row: 8;
  align-self: start;
  text-align: left;
}
.header .thing4 span {
  display: block;
  text-transform: uppercase;
}
.header .thing5_rightsordate {
  font-size: 11px;
  grid-column: 8;
  grid-row: 2 / span 7;
  align-self: left;
  writing-mode: vertical-rl;
  text-align: start;
}
.header .vertical_bar1 {
  display: block;
  min-width: 2em;
  width: 100%;
  height: 100%;
  background-color: rgb(33, 64, 154);
  grid-column: 1;
  grid-row: 3 / span 6;
}
.header .bottom_bar2 {
  display: block;
  width: 95%;
  height: 30%;
  background-color: black;
  grid-column: 2 / span 7;
  grid-row: 7;
  align-self: end;
  z-index: -1;
  border: 3px solid black;
}
.header .top_bar3 {
 display: block;
 width: 100%;
 height: 40%;
 background-color: rgb(255, 222, 23);
 grid-column: 1 / span 6;
 grid-row: 1;
 align-self: end;
 z-index: -1;
}
.header .circle1 {
  display: block;
  width: 100%;
  height: 50%;
  background-color:  #BF3F34;
  grid-column: 6 / span 5;
  grid-row: 4;
  align-self: center;
  transform: rotate(-90deg);
}
.header .square {
 display: block;
 width: 6em;
 height: 6em;
 border-radius: 100%;
 background-color: rgb(255, 222, 23);
 grid-column: 5 / span 2;
 grid-row: 4;
 align-self: center;
 z-index: -1;
}
.header2 sup {
  font-size: 10px;
}
.header2 h6 {
  font-size: 10px;
}
.header2 #copy {
  font-size: 15px;
  border-top: 4px solid black;
  margin-top: 10px
}
.header2 a {
  font-size: 12px;
}
.header2 #copy2 {
  font-size: 14px;
  border-top: 4px solid black;
  margin-top: 10px;
}

/* end header */
/* metadata panel */

.panel-heading {
  width: 97%;
}
.head-sectionsArt1, .head-sectionsArt2, .head-sectionsArt3 {
  background-color: black;
  background-size: cover;
  color: white;
  border: none;
}
.headArt1-1, .headArt1-4, .headArt2-1, .headArt2-4, .headArt3-1, .headArt3-4,  #headp3-elements3, #headp1-climatechange1, #headp1-animals1, #headp2-report2, #headp3-cuisinetype3, #headic3-places3 {
  padding: 3px;
  text-align: center;
  background-color: #BF3F34;
  border: none;
}/*red*/
.headArt1-2, .headArt1-5,.headArt2-2, .headArt2-5, .headArt3-2, .headArt3-5, #headp1-cuisinetype1, #headp2-cuisinetype2, #headp3-diets3, #headic3-companies3 {
  padding: 3px;
  text-align: center;
  background-color: rgb(33, 64, 154);
  border: none;
}/*blu*/

.headArt1-3, .headArt1-6, .headArt2-3, .headArt2-6, .headArt3-3, .headArt3-6, #headp1-diets1, #headp2-diets2, #headb3-elements3, #headp3-report3, #headic3-people2 {
  padding: 3px;
  text-align: center;
  background-color: rgb(255, 222, 23);
  border: none;
}/*yellow*/
/* metadata panel */
/* scrollUp */
#scrollUp{
  background-color: transparent;
  background-image: url("../imgs/bauhaushome/down-arrow-from-a-cube-svgrepo-com.svg");
  border:none;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
#scrollUp:focus{
  outline:0;
}
/* scrollUp */
/* sources */
#wikipedia {
  background-color: transparent;
  background-image: url("../imgs/wcircle.svg");
  border:none;
  height: 22px;
  width: 22px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}

#source {
  background-color: transparent;
  background-image: url("../imgs/iconlens.svg");
  border:none;
  margin-left: 3px;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  color:transparent;
}
/* sources */
/* disclaimer */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-image: url('../imgs/bauhaushome/navbar.png');
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header h2 {
  color: white;
  background-color: black;
  display: inline-block;
  text-align: left;
  padding: 5px;
}

.modal-body p{
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: justify;
}
/* disclaimer */
