body{
  height:100vh;
  overflow: hidden;
  margin:auto;
}

.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:85vh;
  margin:auto;
  padding:2em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}


/* metadata panel */
.container1 {
  display: fixed;
}

.panel-heading, .panel-body {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.panel-body {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  overflow-y:scroll;
  overflow-x:hidden;
  height:50vh;
}

/* articles */
[class~=head-sections] {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

[class~=body-sections] {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

[class~=headArt] {
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px #c3c3c3;
}

[class~=bodyArt]  {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

/* articles */
