body{
  height:100vh;
  overflow: hidden;
  margin:auto;
}

.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:85vh;
  margin:auto;
  padding:2em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}


/* metadata panel */


.container1 {
  display: fixed;
}

.panel-heading, .panel-body {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.panel-body {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  overflow-y:scroll;
  overflow-x:hidden;
  height:50vh;
}

/* first article */

.head-sectionsArt1 {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.body-sectionsArt1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.headArt1-1 {
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px #c3c3c3;
}

.bodyArt1-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.subHeadArt1-1 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px;
}

.subBodyArt1-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt1-2 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px
}

.subBodyArt1-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subSubHeadArt1-1 {
  padding: 3px;
  color: black;
  font-size: 12px;
  border: solid 1px #c3c3c3;

}

.subSubBodyArt1-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 10px;
}


.subHeadArt1-3 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;
}

.subBodyArt1-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}


.headArt1-2 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt1-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-3 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt1-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-4 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt1-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-5 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt1-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt1-6 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt1-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

/* end first article */
/* second article */

.head-sectionsArt2 {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.body-sectionsArt2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.headArt2-1 {
  padding: 3px;
  text-align: center;
  color: black;
  border: solid 1px #c3c3c3;
}

.bodyArt2-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.subHeadArt2-1 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px;
}

.subBodyArt2-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt2-2 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px
}

.subBodyArt2-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subSubHeadArt2-1 {
  padding: 3px;
  color: black;
  font-size: 12px;
  border: solid 1px #c3c3c3;

}

.subSubBodyArt2-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 10px;
}


.subHeadArt2-3 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;

}

.subBodyArt2-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}


.headArt2-2 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt2-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt2-3 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt2-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}


.headArt2-4 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt2-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt2-5 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt2-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt2-6 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt2-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}
/* end second article */
/* third article */

.head-sectionsArt3 {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
}

.body-sectionsArt3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.headArt3-1 {
  padding: 3px;
  text-align: center;
  color: black;

  border: solid 1px #c3c3c3;
}

.bodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
}

.subHeadArt3-1 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px;
}

.subBodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt3-2 {
  padding: 3px;
  text-align: center;
  background-color: white;
  border: none;
  font-size: 12px
}

.subBodyArt3-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subSubHeadArt3-1 {
  padding: 3px;
  color: black;
  font-size: 12px;
  border: solid 1px #c3c3c3;

}

.subSubBodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 10px;
}


.subHeadArt3-3 {
  padding: 3px;
  text-align: center;
  color: black;
  font-size: 12px;

}

.subBodyArt3-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  font-size: 12px;
}

.headArt3-2 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt3-2 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt3-3 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt3-3 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}


.headArt3-4 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt3-4 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt3-5 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt3-5 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.headArt3-6 {
  padding: 3px;
  text-align: center;
  border: none;
}

.bodyArt3-6 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}
/* end third article */
/* end metadata panel */
