@font-face {
    font-family: 'P22 Pop Art Comic';
    src: url('../fonts/popart/P22 Pop Art Comic Regular.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/popart/BADABB_.ttf') format('ttf'),
    url('../fonts/popart/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/popart/BadaBoomBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pop Art';
    src: url('../fonts/popart/PopArt-Regular.woff2') format('woff2'),
        url('../fonts/popart/PopArt-Regular.woff') format('woff'),
        url('../fonts/popart/PopArt-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sweaty Belvin';
    src: url('../fonts/popart/SweatyBelvinRegular.woff2') format('woff2'),
        url('../fonts/popart/SweatyBelvinRegular.woff') format('woff'),
        url('../fonts/popart/SweatyBelvinRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.navbar{
  padding-left: 5%;
  padding-right:5%;
  padding-top: 1em;
  font-family: 'BadaBoom BB';
  background-image: url('../imgs/popartbackgrounds/navbar.png');
  background-size: cover;
}

#navbar {
transform: rotate(-5deg);
background-image: url('../imgs/popartbackgrounds/bubble3.png');
background-size: cover;
}


#home {
transform: rotate(-5deg);
background-image: url('../imgs/popartbackgrounds/bubble3.png');
background-size: cover;
}

#link {
transform: rotate(-5deg);
background-image: url('../imgs/popartbackgrounds/bubble3.png');
background-size: cover;
color: black;
}

#navbarDropdown {
  transform: rotate(-5deg);

}

 #searchbutton {
  color: black;
  transform: rotate(-5deg);
  border: none;
  background-image: url('../imgs/popartbackgrounds/bubble3.png');
  background-size: cover;
 }

 #searchbutton:hover {
   background-color: #008ee7;
 }

 #search {
   background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../imgs/popartbackgrounds/pop0.png');
   background-size: cover;
   border: none;
 }



.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:90vh;
  margin: auto;
  padding: 1em;
  background-color: #008ee7;
}

.container{
  display: grid;
  width: 100%;
  background-color: #008ee7;
  padding: 0px;
  margin: auto;
}




body {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url('../imgs/popartbackgrounds/pop11.jpg');
  background-size: contain;
  background-attachment: fixed;
  cursor: url(""), pointer;
  font-family: 'P22 Pop Art Comic';
  font-weight: bold;
}

.text {
  text-align: justify;
  width: 100%;
  height: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: 70%;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #FED715;
  background-size: cover;
  border: 20px solid transparent;
  padding: 15px;
  border-image-source: url('../imgs/popartbackgrounds/pop3.jpg');
  border-image-repeat: round;
  border-image-slice: 100;

}

.header h1 {
  font-family: 'BadaBoom BB';
  font-size: 40px;
  text-align: center;
  text-shadow: 2px 2px 0px black;
  color: white;
  background-color:  #d50037;
  border-radius: 25px 30px 40px 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transform: rotate(-5deg);
}



.header h2 {
  font-family: 'BadaBoom BB';
  font-size: 20px;
  text-align: left;
  color:  black;
  transform: rotate(-5deg);
}

.header h2 b {
  font-family: 'BadaBoom BB';
  color: #d50037;
}

.header h3 {
  font-family: 'Sweaty Belvin';
  font-size: 20px;
  text-align: right;
  transform: rotate(-5deg);
}

.section_heading {
  font-family: 'BadaBoom BB';
  font-size: 25px;
  color: white;
  text-align: left;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.subsection_heading {
  font-family: 'Sweaty Belvin';
  font-size: 25px;
  color: white;
  -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}



.section_abstract {
  padding: 1em;
  font-size: 12px;
  border: 3px solid black;
  margin-bottom: 2em;
  border-radius: 25px 30px 40px 20px;
}


  img {
  height: auto;
  max-width: -webkit-fill-available;
  border-radius: 25px 30px 40px 20px;

}


p::first-letter{
  float:left;
  font-size:500%;
  color: #d50037;
  font-family: 'BadaBoom BB';
  font-weight: normal;
  line-height: 0.5;
  margin-right: 8px;
  border-radius: 25px 30px 40px 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 0px black;
}
