
@font-face  {
    font-family: 'Shaka Pow Upright';
    src: url('../fonts/popart/Shaka Pow Upright.ttf') format('ttf'),
    url('../fonts/popart/ShakaPowUpright.woff2') format('woff2'),
    url('../fonts/popart/ShakaPowUpright.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'comic andy';
    src: url('../fonts/popart/comic andy Regular.ttf') format('ttf'),
    url('../fonts/popart/comicandy.woff2') format('woff2'),
        url('../fonts/popart/comicandy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'P22 Pop Art Comic';
    src: url('../fonts/popart/P22 Pop Art Comic Regular.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shaka Pow Hollow';
    src: url('../fonts/popart/Shaka Pow Hollow.ttf') format('ttf'),
    url('../fonts/popart/ShakaPowHollow.woff2') format('woff2'),
        url('../fonts/popart/ShakaPowHollow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/popart/BADABB_.ttf') format('ttf'),
    url('../fonts/popart/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/popart/BadaBoomBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bouncy Thin PERSONAL USE ONLY';
    src: url('../fonts/popart/Bouncy-Thin-PERSONAL_USE_ONLY') format('ttf'),
    url('../fonts/popart/Bouncy-ThinPERSONALUSEONLY.woff2') format('woff2'),
        url('../fonts/popart/Bouncy-ThinPERSONALUSEONLY.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pop Art';
    src: url('../fonts/popart/PopArt-Regular.woff2') format('woff2'),
        url('../fonts/popart/PopArt-Regular.woff') format('woff'),
        url('../fonts/popart/PopArt-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Smile Candy';
    src: url('../fonts/popart/SmileCandy.woff2') format('woff2'),
        url('../fonts/popart/SmileCandy.woff') format('woff'),
        url('../fonts/popart/SmileCandy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sweaty Belvin';
    src: url('../fonts/popart/SweatyBelvinRegular.woff2') format('woff2'),
        url('../fonts/popart/SweatyBelvinRegular.woff') format('woff'),
        url('../fonts/popart/SweatyBelvinRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.navbar{
  padding-left: 5%;
  padding-right:5%;
  padding-top: 1em;
  font-family: 'BadaBoom BB';
}

#navbar {

}


#home {

}

#link {

}

#navbarDropdown {
}

 #searchbutton {
  color: black;
  border: black;
 }

 #searchbutton:hover {
   background-image: url('../imgs/popartbackgrounds/pop8.jpg');
 }

 #search {
   background-color: transparent;
 }


.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height:100vh;
  margin: auto;
  padding: 1em;
  background-color: #FED715;
}

body {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url('../imgs/popartbackgrounds/pop4.jpg');
  background-size: contain;
}

.text {
  text-align: justify;
  width: 100%;
  height: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.header {
  width: 100%;
  height: 100%;
  padding: 1em;
  display: grid;
  background-image: url('../imgs/popartbackgrounds/pop8.jpg');
  background-size: cover;

}

.header h1 {
  font-family: 'BadaBoom BB';
  font-size: 40px;
  text-align: center;
}

.header h2 {
  font-family: 'BadaBoom BB';
  font-size: 20px;
  text-align: left;
}

.header h3 {
  font-family: 'Sweaty Belvin';
  font-size: 20px;
  text-align: center;
}


.images {
  width: 100%;
  height: auto;
  margin: 1em;
}

  img {
  height: auto;
  max-width: -webkit-fill-available;
}
