
/* fonts */
@font-face {
    font-family: 'P22 Pop Art Comic';
    src: url('../fonts/popart/P22 Pop Art Comic Regular.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'P22 Pop Art Comic Bold Italic';
    src: url('../fonts/popart/P22 Pop Art Comic Bold Italic.ttf') format('ttf'),
    url('../fonts/popart/P22PopArtComicBoldItalic.woff2') format('woff2'),
        url('../fonts/popart/P22PopArtComicBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'BadaBoom BB';
    src: url('../fonts/popart/BADABB_.ttf') format('ttf'),
    url('../fonts/popart/BadaBoomBB.woff2') format('woff2'),
        url('../fonts/popart/BadaBoomBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Pop Art';
    src: url('../fonts/popart/PopArt-Regular.woff2') format('woff2'),
        url('../fonts/popart/PopArt-Regular.woff') format('woff'),
        url('../fonts/popart/PopArt-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sweaty Belvin';
    src: url('../fonts/popart/SweatyBelvinRegular.woff2') format('woff2'),
        url('../fonts/popart/SweatyBelvinRegular.woff') format('woff'),
        url('../fonts/popart/SweatyBelvinRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* end fonts */

/* body and navbar */

body {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url('../imgs/popartbackgrounds/landscape-1964.jpg');
  background-size: contain;
  background-attachment: fixed;
  cursor: url(""), pointer;
  font-family: 'P22 Pop Art Comic';
  font-weight: bold;
}

.navbar{
  padding-left: 6%;
  padding-right:6%;
  padding-top: 1em;
  font-family: 'BadaBoom BB';
  background-image: url('../imgs/popartbackgrounds/navbar.png');
  background-size: cover;
  height:10vh;
}

#TDM {
color: black;
background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../imgs/popartbackgrounds/pop0.png');
background-size: cover;
border: none;
}


#issuesnav {
  color: black;
  border: none;
background-image: url('../imgs/popartbackgrounds/navbar.png');
background-size: cover;
}


.nav-item {
  margin-right: 1em;
}

.dropdown {
  padding-right: 1em;
}


button[name="medieval"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}


button[name="belleepoque"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}

button[name="bauhaus"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}


button[name="popart"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}

button[name="cioe"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}

button[name="futuristic"] {
  color: black;
  transform: rotate(-5deg);
  background-image: url('../imgs/popartbackgrounds/bubble3.jpg');
  background-size: cover;
}

/*end body and navbar */

/*articles structure */

.article{
  overflow-y:scroll;
  overflow-x:hidden;
  text-align:justify;
  height: 84vh;
  margin: auto;
  padding: 1em;
  background-color: #008ee7;
  border: 3px solid black;
}



.container{
  display: grid;
  width: 100%;
  background-color: #008ee7;
  background-color: white;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  border: 3px solid black;

}


.text {
  text-align: justify;
  width: 100%;
  height: 100%;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
  display:none;
}

::-webkit-scrollbar:hover{
  display:inherit;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/*articles settings */

.section_heading {
  font-family: 'P22 Pop Art Comic Bold Italic';
  font-size: 20px;
  color: black;
  background-color: white;
  border: 3px solid black;
  text-align: left;
  display: inline-block;
  padding: 3px;
}

.section_abstract .section_heading {
  color: black;
}

.subsection_heading {
  font-family: 'P22 Pop Art Comic';
  color: black;
  background-color: white;
  border: 3px solid black;
  font-size: 18px;
  display: inline-block;
  padding: 3px;
}

.section_abstract {
  padding: 5px;
  font-size: 12px;
  border: 3px solid black;
  margin-bottom: 2em;
  background-color: white;
}

1p-relevantwebsite {
   column-count: 1;
}

  img {
  width: 100%;
  height: auto;
  border: 3px solid black;
  padding: 1em;
  background-color: white;
}


a {
  word-break: break-all;
}

.text p {
  column-count: 2;
  text-align: left;
}

.no2columns {
  column-count: 1;
}

a {
  color: black;
  column-count: 1;
}

.text h5 {
  font-size: 14px;
}

.blockquote {
  background-color: white;
  padding: 5px;
  font-family: 'BadaBoom BB';
  border: 3px solid black;
  border-radius: 25px 30px 40px 20px;
}



/* end articles */


/* header */
.header {
  width: 100%;
  height: auto;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f2e81c;
  background-size: cover;
  border: 20px solid transparent;
  padding: 15px;
  border-image-source: url('../imgs/popartbackgrounds/pop3y.jpg');
  border-image-repeat: round;
  border-image-slice: 100;
}

.header h1 {
  font-family: 'BadaBoom BB';
  font-size: 40px;
  text-align: center;
  color: #df0107;
  background-color: white;
  border: 3px solid black;
  border-radius: 50px 50px 70px 80px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transform: rotate(-5deg);
}

.header h2 {
  font-family: 'BadaBoom BB';
  font-size: 20px;
  text-align: left;
  color:  black;
  transform: rotate(-5deg);
}


.header h2 b {
  font-family: 'BadaBoom BB';
  color: #df0107;
}


.header h3 {
  font-family: 'P22 Pop Art Comic Bold Italic';
  font-size: 18px;
  text-align: right;
  transform: rotate(-5deg);
}


.header h5 {
  font-family: 'P22 Pop Art Comic Bold Italic';
  font-size: 18px;
  text-align: right;
  transform: rotate(-5deg);
}

.header b {
  font-family: 'BadaBoom BB';
  color: #d50037;
  transform: rotate(-5deg);
}

.header p {
  font-size: 14px;
  padding: 1em;
  text-align: center;
}

.header .thing4_publisher {
  font-size: 15px;
}

/* end header */

/* header2 */
.header2  {
  font-family: 'P22 Pop Art Comic';
  font-size: 16px;
  padding: 2em;
  margin: 1em;
  font-size: 13px;
  background-color: #D98FC5;
  border: 3px solid black;

}

.header2 sup {
  font-family: 'P22 Pop Art Comic';
  font-size: 14px;
  text-align: left;
}

.header2 h5, h3 {
  font-family: 'P22 Pop Art Comic Bold Italic';
  font-size: 15px;
}

.header2 h6 {
  font-family: 'P22 Pop Art Comic';
  font-size: 13px;
}

 .header2 p {
   font-family: 'P22 Pop Art Comic';
   font-size: 15px;
   margin: 10px;
   border: 3px solid black;
   background-color: white;
   border-radius: 25px 30px 40px 20px;
   padding: 1em;
   column-count: 1;
 }

.beforeimage {
   text-align: left;
 }

.afterimage {
   text-align: right;
 }

.table {
  padding: 5px;
  padding-right: 5px;
  font-size: 16px;
  text-align: left;
}

tr:nth-child(odd){
    background-color:white;
    border: 2px solid black;
}

tr:nth-child(even){
  background-color: white;
  border: 2px solid black;
}

th{
  background-color: #D98FC5;
  border: 2px solid black;
}

/* end header2 */
/* metadata panel */

.container1 {
  display: fixed;
}

.panel-heading, .panel-body {
  padding: 5px;
  text-align: center;
  background-color: white;
  border: none;
}

.head-sectionsArt1, .head-sectionsArt2, .head-sectionsArt3 {
  background-image: url('../imgs/popartbackgrounds/bluelich.png');
  background-size: cover;
  color: white;
}

.panel-body {
  padding: 5px;
  height: auto;
  display: none;
  text-align: left;
  overflow-y:scroll;
  overflow-x:hidden;
  height:50vh;
}

/* first article */

.headArt1-1, .headArt1-4, .headArt2-1, .headArt2-4, .headArt3-1, .headArt3-4, .headArt3-6, #headic3-places3, #headp1-climatechange1, #headp1-animals1, #headp2-report2, #headp3-cuisinetype3, #headic3-places3  {
  padding: 3px;
  text-align: center;
  color: black;
  background-color: #df0107;
  border: none;  /*red*/
}

.headArt1-2, .headArt1-5, .headArt2-2, .headArt2-5, .headArt3-2, .headArt3-5, #headic3-companies3, #headp1-cuisinetype1, #headp2-cuisinetype2, #headp3-diets3 {
  padding: 3px;
  text-align: center;
  background-color: #f2e81c;
  border: none;   /*yellow*/
}

.headArt1-3, .headArt1-6, .headArt2-3, .headArt2-6, .headArt3-3, #headic3-people2, #headp1-diets1, #headp2-diets2, #headb3-elements3, #headp3-report3 {
  padding: 3px;
  text-align: center;
  background-color: #008ee7;
  border: none;/*blue*/
}

.subBodyArt3-1 {
  padding: 5px;
  height: auto;
  display: none;
  text-align: justify;
  font-size: 12px;
}

.subHeadArt1-3, .subHeadArt2-3, .subHeadArt3-3 {
  text-align: center;
}

/* end metadata panel */
