@font-face {
    font-family: 'Kramer';
    src: url('Kramer-Regular.woff2') format('woff2'),
        url('Kramer-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

